.photofeed__container {
	overflow: hidden;
}

.photofeed__list {
	list-style: none;
	width: 100%;
	max-width: 620px;
	margin: 0 auto;
	padding: 1em;
}

.photofeed__link {
	display: block;
	position: relative;
	height: 0;
	padding-bottom: 100%;
	background-image: linear-gradient(to bottom, $color-clear, $color-bg);
}

.photofeed__frame {
	overflow: hidden;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.photofeed__img {
	position: absolute;
	width: 100%;
	height: 100%;
	transform: translate(-100%, -100%);
	transition: transform 2s 200ms $ease-expo-out;

	.state-loaded & {
		transform: none;
	}
}

.photofeed__circles {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60px;
	height: 60px;
	mix-blend-mode: multiply;
	transition:
		top 1s $ease-expo-out,
		left 1s $ease-expo-out,
		transform 1s ease-out;
	animation: loadingRotate 350ms linear infinite;

	.state-loaded & {
		top: 100%;
		left: 100%;
		animation: none;
	}
}
@keyframes loadingRotate {
	from {
		transform: translate(-50%, -50%) rotate(0);
	}
	to {
		transform: translate(-50%, -50%) rotate(359.5deg);
	}
}

.photofeed__circle {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	transition: opacity 200ms ease-out;
	mix-blend-mode: multiply;
}
.photofeed__circle--magenta {
	background-color: $color-magenta;
	transform: rotate(0deg) translateY(33.33%);

	.state-loaded & {
		transform: rotate(0deg) translateY(0);
	}
}
.photofeed__circle--blue {
	background-color: $color-blue;
	transform: rotate(-120deg) translateY(33.33%);

	.state-loaded & {
		opacity: 0;
	}
}
.photofeed__circle--yellow {
	background-color: $color-yellow;
	transform: rotate(120deg) translateY(33.33%);

	.state-loaded & {
		opacity: 0;
	}
}

.photofeed__description {
	margin: 0.5em 0;
	font-size: 1.3em;
	line-height: 1.5;
	letter-spacing: 0.02em;
	font-style: italic;
	text-align: right;

	p {
		margin: 0;
	}

	@media (min-width: 600px) {
		p {
			padding-left: 50%;
		}
	}
}

.photofeed__title {
	font-size: 1em;
	line-height: 1.5;
	letter-spacing: 0.02em;
	margin: 0 0 0 1em;
}

.photofeed__date {
	display: block;
	font-size: 0.75em;
	color: $color-blue;
}

.photofeed__squiggle {
	width: 100%;
	height: 15em;
	stroke: $color-blue;
	stroke-width: 1em;
	fill: transparent;

	@media (min-width: 500px) {
		height: 25em;
	}
}

/*
.photofeed__header {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
	background-color: $color-bg;
}

.photofeed__back {
	position: fixed;
	z-index: 100;
	bottom: 1em;
	left: 0;
	display: block;
	padding: 0.5em 1em 0.5em 1em;
	text-align: right;
	background-color: $color-bg;
}

.photofeed__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	list-style: none;
	padding-left: 0;
	margin: 0;
}

.photofeed__item {
	overflow: hidden;
	position: relative;
	display: block;
	width: 50%;
	background-color: $color-bg;

	@media (min-width: 500px) {
		width: 33.333%;
	}

	@media (min-width: 700px) {
		width: 20%;
	}

	@media (min-width: 1100px) {
		width: 12.5%;
	}

	&.state-show-details {
		overscroll-behavior: contain;
		overflow-y: scroll;
		overflow-x: hidden;
		display: flex;
		flex-direction: column;
		position: fixed;
		z-index: 1000;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;

		.photofeed__link {
			&:before {
				display: none;
			}
			&:hover,
			&:focus {
				mix-blend-mode: normal;

				&:before {
					display: none;
				}
			}
		}
		&.state-loaded {
			.photofeed__link {
				&:after {
					display: none;
				}
			}
		}
	}

	&.state-loaded {
		background-image: linear-gradient(-45deg, $color-primary, $color-active);

		.photofeed__spin {
			opacity: 0;
		}
		.photofeed__link {
			&:after {
				display: none;
			}
		}
	}
}

@keyframes rotateSpin {
	from {
		transform: translate(-50%, -50%) rotate(0);
	}
	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

.photofeed__spin {
	position: absolute;
	z-index: 4;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 2em;
	height: 2em;
	animation: rotateSpin 1s linear infinite;
}

.photofeed__link {
	flex-shrink: 0;
	display: block;
	position: relative;
	z-index: 4;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	color: transparent;
	cursor: wait;

	&:hover,
	&:focus {
		outline: none;
		color: transparent;
		background-color: transparent;
		mix-blend-mode: luminosity;
	}

	.state-show-details & {
		&:hover,
		&:focus {
			.photofeed__img {
				opacity: 1;
			}
		}
	}

	.state-loaded & {
		cursor: pointer;
		height: auto;
		padding-bottom: 0;

		@media (min-width: 500px) {
			width: 100%;
		}

		&:hover,
		&:focus {
			&:before {
				display: block;
			}
		}
	}
}

.photofeed__img {
	position: relative;
	z-index: 5;
	display: block;
	width: 100vw;
	visibility: hidden;

	.state-loaded & {
		visibility: visible;
	}

	@media (min-width: 500px) {
		width: 100%;
		height: auto;
	}
}

.photofeed__description {
	overflow: hidden;
	position: relative;
	z-index: 6;
	display: none;
	flex-grow: 1;
	flex-shrink: 0;
	padding: 1em 5em 1em 1em;
	color: $color-primary;
	background-color: $color-bg;

	@media (min-width: 1000px) {
		position: fixed;
		bottom: 0.5em;
		left: 0.5em;
		right: 0.5em;
		width: auto;
		padding: 1em;
	}

	.state-show-details & {
		display: block;
	}

	p {
		line-height: 1.5;
		margin-top: 0.75em;
		margin-bottom: 0;
	}
}

.photofeed__close-btn {
	display: none;
	position: fixed;
	z-index: 7;
	top: 0.5em;
	left: 0.5em;
	padding: 0.5em;
	color: $color-primary;
	font-size: 1em;
	text-decoration: underline;
	background-color: $color-bg;

	&:hover,
	&:focus {
		color: $color-bg;
		background-color: $color-secondary;
		text-decoration: none;
	}

	@media (min-width: 500px) {
		.state-show-details & {
			display: block;
		}
	}
}

.photofeed__photo-title {
	display: inline-block;
	margin: 0 1em 0 0;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.2;
	font-style: italic;
	color: $color-bg;
	background-color: $color-active;
}

.photofeed__date {
	display: inline-block;
	line-height: 1.2;
	color: $color-bg;
	background-color: $color-primary;
}

.photofeed__help {
	display: block;
	margin-top: 1em;
	color: $color-subdued;

	@media (min-width: 500px) {
		display: none;
	}
}
*/
