.debug-panel__area {
	padding: 0.75rem;
	border: 2px solid var(--color-primary);

	+ .debug-panel__area {
		margin-top: 1rem;
	}
}

.debug-panel__control {

	+ .debug-panel__control {
		margin-top: 0.5rem;
	}
}
