html[data-z-index-debugger="enabled"] {
	[data-z] {
		opacity: 0.1 !important;

		&.state-debug-filter-z {
			opacity: 1 !important;
		}
		&.debug-ui {
			opacity: 1 !important; // this one's immune to it
		}
	}
}

.debug-stack__filter-level {
	display: none;

	[data-z-index-debugger="enabled"] & {
		display: block;
	}
}