.debug-grid {
	--size: 2rem;
	--opacity: 0.5;
	--thickness: 1px;
	--color: black;
}

.debug-grid__layer {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	z-index: 700;
	background-size: var(--size) var(--size);
	background-repeat: repeat;
	opacity: var(--opacity);
	pointer-events: none;

	.state-grid-horizontal & {
		background-image: linear-gradient(
			to bottom,
			var(--color) var(--thickness),
			transparent var(--thickness)
		);
	}
	.state-grid-vertical & {
		background-image: linear-gradient(
			to left,
			var(--color) var(--thickness),
			transparent var(--thickness)
		);
	}
	.state-grid-vertical.state-grid-horizontal & {
		background-image: linear-gradient(
			to bottom,
			var(--color) var(--thickness),
			transparent var(--thickness)
		),
		linear-gradient(
			to left,
			var(--color) var(--thickness),
			transparent var(--thickness)
		);
	}
}
