<header class="header">
	<nav class="header__header-extend">
		<h1 class="header__heading" aria-level="1">
			{{pageTitle}}
		</h1>

		<button
			class="header__toggle-menu js-index-toggle-menu"
			type="button"
			aria-label="Toggle navigation menu"
		>
			<span class="header__toggle-open">menu<i aria-hidden="true"> ≣</i></span>
			<span class="header__toggle-close">close<span aria-hidden="true"> ×</span></span>
		</button>

		<div class="header__menu js-index-menu">
			<div class="header__menu-item">
				<a
					class="header__menu-link header__menu-link--blog"
					href="{{ rootPath }}"
				>
					blog
				</a>
			</div>
			<div class="header__menu-item">
				<a
					class="header__menu-link header__menu-link--photofeed"
					href="{{ photosPath }}"
				>
					photofeed
				</a>
			</div>
			<div class="header__menu-item">
				<a
					class="header__menu-link header__menu-link--bookmarks"
					href="{{ bookmarksPath }}"
				>
					bookmarks
				</a>
			</div>
			<div class="header__menu-item">
				<a
					class="header__menu-link header__menu-link--bandcamp"
					href="{{ bandcampPath }}"
				>
					bandcamp
				</a>
			</div>
			<div class="header__menu-item">
				<a
					class="header__menu-link header__menu-link--main"
					href="/"
				>
					fredmercy.com
				</a>
			</div>
		</div>
		<button
			class="header__menu-bg js-index-menu-close"
			type="button"
			aria-label="Close navigation menu"
		></button>
	</nav>

	{{#if displayJumpTo}}
	<select type="button" class="header__jump-to js-index-jumpto" aria-labelledby="archiveLabel">
		<option value="" id="archiveLabel">Jump to...</option>
		{{#each entries as |entry index|}}
			<option class="header__jump-to-month" value="#{{ index }}">
				{{ index }}
			</option>
		{{/each}}
	</select>
	{{/if}}
</header>
