<aside class="help">
	<div class="help__box">
		<button type="button" class="help__close js-help-close">
			close<span aria-hidden="true"> ×</span>
		</button>

		<ul class="help__list">
			<li class="help__item">
				<div class="help__icon">
					🆘
				</div>
				<div>
					<strong class="help__emphasis">Use the <pre>?</pre></strong>
					key to toggle this help popup.
				</div>
			</li>
			<li class="help__item">
				<div class="help__icon">
					🔠
				</div>
				<div>
					<strong class="help__emphasis">
						Use the <pre>+</pre>
						and
						<pre>-</pre>
					</strong>
					keys to increase and decrease the size of the text.
				</div>
			</li>
			<li class="help__item">
				<div class="help__icon">
					Ⓜ️
				</div>
				<div>
					<strong class="help__emphasis">
						Use the <pre>m</pre>
					</strong>
					key to toggle the main menu.
				</div>
			</li>
		</ul>
	</div>
	<div class="help__bg">
	</div>
</aside>