<div
	class="theme-option"
	data-ui="custom-theme-control"
	data-color-id="{{ id }}"
>
	<div
		class="theme-option__color"
		data-color-id="{{ id }}"
	>
		<div
			class="theme-option__value"
			data-ui="color-value"
		>
			-
		</div>

		<div class="theme-option__control-mask">
			<input
				title="Choose a custom color for {{ label }}"
				id="color-{{ id }}"
				class="theme-option__control"
				type="color"
				data-control="color-picker"
				data-color-id="{{ id }}"
			>
			<div class="theme-option__focus" aria-hidden="true"></div>
		</div>
	</div>

	<label for="color-{{ id }}" class="theme-option__label">
		{{ label }}
	</label>
</div>