<div class="comments">
	<h2 class="comments__heading" aria-level="2">
		Comment dots
	</h2>

	<div
		class="comments__grid"
		data-ui="grid"
		data-entry-id="{{ meta.year }}-{{ meta.month }}_{{ meta.date }}"
	>
	{{#each comments}}
		<button
			id="comment_{{ this.index }}"
			type="button"
			class="comments__dot"
			data-control="dot"
			data-index="{{ this.index }}"
			data-id="{{ this.commentId }}"
			aria-label="Comment slot #{{ this.index }}"
			disabled
		>
		</button>
	{{/each}}
	</div>
</div>
