<div
	class="leave-comment"
	data-ui="leave-comment-popup"
>
	<form
		class="leave-comment__form"
		data-control="comment-form"
		data-entry-id="blog_{{ meta.year }}_{{ meta.month }}_{{ meta.day }}"
	>
		<div class="leave-comment__line">
			<input
				class="leave-comment__input"
				data-control="author"
				type="text"
				id="author"
				name="author"
				maxlength="100"
				placeholder="Anonymous"
			>

			<input
				class="leave-comment__input"
				data-control="content"
				type="text"
				id="content"
				name="content"
				maxlength="1000"
				required
			>
		</div>
	</form>
</div>
