<div
	class="leave-comment"
	data-ui="leave-comment-popup"
>
	<header class="leave-comment__header">
		<h2 class="leave-comment__heading">
			Leave a comment
		</h2>

		<div class="leave-comment__status">
			(in dot <span data-ui="selected-dot"></span>)
		</div>

		<button
			type="button"
			class="leave-comment__close"
			data-control="close"
		>
			close<span aria-hidden="true"> ×</span>
		</button>
	</header>

	<form
		class="leave-comment__form"
		data-control="comment-form"
		data-entry-id="{{ date }}"
	>
		<div class="leave-comment__field">
			<label class="leave-comment__label" for="content">
				Comment <i>(1500 characters max.)</i>

				<button
					type="button"
					class="leave-comment__speak"
					data-control="speak-comment"
				>
					read
				</button>
			</label>
			<textarea
				class="leave-comment__textarea"
				data-control="content"
				id="content"
				name="content"
				maxlength="1500"
				required
			></textarea>
		</div>

		<div class="leave-comment__field">
			<label class="leave-comment__label" for="author">
				Name <i>(if left blank, “Anonymous” will be used)</i>
			</label>
			<input
				class="leave-comment__input"
				data-control="author"
				type="text"
				id="author"
				name="author"
				maxlength="100"
			>
		</div>

		<button type="submit" class="leave-comment__submit">
			Done
		</button>
		<button
			type="button"
			class="leave-comment__cancel"
			data-control="close"
		>
			Cancel
		</button>
	</form>
</div>
