.leave-comment {
	overflow-x: hidden;
	overflow-y: auto;
	display: none;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 1rem 1rem 5rem;
	background-color: var(--color-bg);

	@media (min-width: $mq-small) {
		overflow: visible;
		flex-grow: 1;
		position: static;
		width: auto;
		height: auto;
		padding: 0;
		background-color: transparent;
	}

	&.state-leave-comment-active {
		display: block;
	}
}

.leave-comment__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 0 1.5rem;

	@media (min-width: $mq-small) {
		margin-top: 1.5rem;
	}
}

.leave-comment__heading {
	display: inline-block;
	margin: 0;
	padding: 0.25rem;
	font-size: 1rem;
	font-weight: 400;
	color: var(--color-bg);
	background-color: var(--color-primary);
}

.leave-comment__status {
	display: none;
	flex-grow: 1;
	margin-left: 0.5rem;
	font-style: italic;

	@media (min-width: 350px) {
		display: inline-block;
	}
}

.leave-comment__close {
	display: inline-block;
	margin-left: 0.5rem;
	padding: 0;
	color: var(--color-primary);
	font-family: var(--font);
	font-size: 1rem;
	text-decoration: underline;
	background-color: transparent;

	@include hover-focus {
		color: var(--color-bg);
		background-color: var(--color-secondary);
		text-decoration: none;
	}
}

.leave-comment__field {
	margin-bottom: 1.5rem;
}

.leave-comment__label {
	display: block;
	margin-bottom: 0.25rem;

	i {
		color: var(--color-subdued);
	}
}

.leave-comment__speak {
	padding: 0;
	color: var(--color-primary);
	font-family: var(--font);
	font-size: 1rem;
	font-style: italic;
	background-color: transparent;
	text-decoration: underline;

	@include hover-focus {
		color: var(--color-bg);
		background-color: var(--color-secondary);
		text-decoration: none;
	}
}

.leave-comment__textarea,
.leave-comment__input {
	appearance: none;
	width: 100%;
	padding: 0.5rem;
	font-family: var(--font);
	font-size: 1rem;
	color: var(--color-primary);
	background-color: var(--color-bg);
	border: 2px solid var(--color-primary);
	border-radius: 0;
	outline: none;

	&:focus {
		border-color: var(--color-active);
	}
}

.leave-comment__textarea {
	min-height: 120px;
	resize: vertical;
	line-height: 1.4;
}

.leave-comment__submit,
.leave-comment__cancel {
	padding: 0;
	color: var(--color-primary);
	font-family: var(--font);
	font-size: 1rem;
	background-color: transparent;
	text-decoration: underline;

	@include hover-focus {
		color: var(--color-bg);
		background-color: var(--color-secondary);
		text-decoration: none;
	}
}

.leave-comment__cancel {
	margin-left: 1rem;
	color: var(--color-subdued);

	@include hover-focus {
		color: var(--color-bg);
	}
}
