<!doctype html>
<html lang="en-us">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{{ pageTitle }}</title>
	<meta name="description" content="{{ description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/blog/dist/images/favicon.png">
	<link rel="stylesheet" href="/blog/dist/css/style.css">
</head>

<body>
	<div class="shapes">
		<div class="shapes__circle shapes__circle--c1"></div>
		<div class="shapes__circle shapes__circle--c2"></div>
		<div class="shapes__circle shapes__circle--c3"></div>
		<div class="shapes__circle shapes__circle--c4"></div>
		<div class="shapes__circle shapes__circle--c5"></div>
	</div>

	{{> @partial-block }}

	<script type="text/javascript" src="/blog/dist/js/app.js"></script>
</body>
</html>