.demos__heading {
	margin: 1.5rem 0;
}

.demos__list {
	list-style: none;
	padding: 0;
	margin: 0.5rem 0 2rem;
}

.demos__item {
	display: flex;
	align-items: flex-start;

	+ .demos__item {
		margin-top: 1.5rem;
	}
}

.demos__emoji {
	margin-right: 1rem;
	font-style: normal;
	font-size: 1.5rem;
	line-height: 1;
}

.demos__name {
	margin: 0;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.5;
}

.demos__link {
	color: var(--color-bg);
	background-color: var(--color-subdued);
	text-decoration: none;

	&:hover,
	&:focus {
		background-color: var(--color-secondary);
	}
}

.demos__description {
	margin: 0;
}
