// colorscheme crafted with: https://coolors.co/ff6c23-a46bea-f9eaea-ffdd21-65b25e
$color-bg: #f9eaea; // Linen
$color-primary: #a46bea; // Rich Lavender
$color-active: #ff6c23; // Pumpkin
$color-secondary: #ea8fcd; // Kobi
$color-subdued: #65b25e; // Bud Green
$color-extra: #ffdd21; // Banana Yellow

// sizes
$max-width: 1200px;
$responsive-width: 90%;

// media queries
$mq-mobile : 500px;
$mq-tablet-portrait : 900px;
$mq-tablet : 1050px;
$mq-desktop : 1280px;

// mixins
@mixin container($width: $max-width) {
	width: $responsive-width;
	max-width: $width;
	margin-left: auto;
	margin-right: auto;
}

@mixin clearfix {
	&:before,
	&:after {
		content: ' ';
		display: table;
	}

	&:after {
		clear: both;
	}
}

// base styles
html {
	font-size: 16px;
	// font-smoothing: subpixel-antialiased;
	box-sizing: border-box;
	font-family: $font-plex;
	font-size: 13px;
	color: $color-primary;
	background-color: $color-bg;
}

body {
	margin: 1em;
}

::-moz-selection {
	color: $color-bg;
	background: $color-subdued;
}
::selection {
	color: $color-bg;
	background: $color-subdued;
}

*, *:before, *:after {
	box-sizing: inherit;
}

img {
	max-width: 100%;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	user-drag: none;
}

a {
	color: $color-primary;
	outline: none;

	&:visited {
		color: $color-primary;
	}

	&:hover,
	&:focus {
		color: $color-bg;
		background-color: $color-secondary;
		text-decoration: none;
	}
}

button {
	border: 0;
	outline: none;
	cursor: pointer;
}

del {
	background-color: $color-primary;
}
