// "June" colorscheme crafted with: https://coolors.co/ff6c23-a46bea-f9eaea-ffdd21-65b25e
:root {
	--color-bg: #f9eaea; // Linen
	--color-primary: #a46bea; // Rich Lavender
	--color-active: #ff6c23; // Pumpkin
	--color-secondary: #ea8fcd; // Kobi
	--color-subdued: #65b25e; // Bud Green
	--color-extra: #ffdd21; // Banana Yellow
}



// other themes:
// High Contrast: https://coolors.co/e2530b-3b1768-f9f9f9-e2c000-1c8c12
// Light
// Dark mode: https://coolors.co/ff9763-e7d9f7-1d1542-ffe44f-9dd698


// sizes
$max-width: 1200px;
$responsive-width: 90%;

// media queries
$mq-mobile : 500px;
$mq-tablet-portrait : 900px;
$mq-tablet : 1050px;
$mq-desktop : 1280px;

$mq-medium: 50rem;

// mixins
@mixin container($width: $max-width) {
	width: $responsive-width;
	max-width: $width;
	margin-left: auto;
	margin-right: auto;
}

@mixin clearfix {
	&:before,
	&:after {
		content: ' ';
		display: table;
	}

	&:after {
		clear: both;
	}
}

// base styles
html {
	box-sizing: border-box;
	font-family: $font-plex;
	font-size: 13px;
	color: var(--color-primary);
	background-color: var(--color-bg);

	&.state-a11y-big-font {
		font-size: 18px;
	}

	// Theme Declinations
	&[data-theme="high-contrast"] {
		--color-bg: #f9f9f9;
		--color-primary: #3b1768;
		--color-secondary: #ffc4ec;
		--color-active: #e2530b;
		--color-subdued: #1c8c12;
		--color-extra: #e2c000;
	}
	&[data-theme="black-and-white"] {
		--color-bg: #ffffff;
		--color-primary: #000000;
		--color-secondary: #000000;
		--color-active: #000000;
		--color-subdued: #000000;
		--color-extra: #000000;
	}
	&[data-theme="dark-mode"] {
		--color-bg: #1d1542;
		--color-primary: #e7d9f7;
		--color-secondary: #ffc4ec;
		--color-active: #ff9763;
		--color-subdued: #9dd698;
		--color-extra: #ffe44f;
	}
	&[data-theme="custom"] {
		// set by Javascript!
	}
}

body {
	margin: 1rem;
	font-size: 1rem;

	@media (min-width: $mq-medium) {
		margin: 1rem 3rem;
	}
}

::-moz-selection {
	color: var(--color-bg);
	background: var(--color-subdued);
}
::selection {
	color: var(--color-bg);
	background: var(--color-subdued);
}

*, *:before, *:after {
	box-sizing: inherit;
}

img {
	max-width: 100%;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	user-drag: none;
}

a {
	color: var(--color-primary);
	outline: none;
	user-select: none;

	&:visited {
		color: var(--color-primary);
	}

	&:hover,
	&:focus {
		color: var(--color-bg);
		background-color: var(--color-secondary);
		text-decoration: none;
	}
}

button {
	border: 0;
	outline: none;
	cursor: pointer;
	user-select: none;
}

hr {
	height: 2px;
	margin: 2.5em 0;
	background-color: var(--color-primary);
	border: none;
}

del {
	background-color: var(--color-primary);
}

select {
	padding: 0.1rem;
	font-size: 0.9rem;
	line-height: 1.2;
	font-family: $font-plex;
	font-style: normal;
	color: var(--color-secondary);
	border: 1px solid currentColor;
	background-color: var(--color-bg);
	border-radius: 0.25rem;
	cursor: pointer;

	&:hover,
	&:focus {
		color: var(--color-bg);
		background-color: var(--color-secondary);
		border-color: var(--color-secondary);
	}
}
