.DS_Store
.env

node_modules/
npm-debug.log

public/
*.css.map
*.js.map

# FTP-uploaded media files
files/
# FTP-uploaded demos
demos/

# Ignore the comments
src/content/entries/**/*.json

# Ignore those files because I'm working on that at the moment...
*.bak.*
*.bak
_bak
