.DS_Store
.env

node_modules/
npm-debug.log

/public
*.css.map
*.js.map

# Database
fredmercy.db
# FTP-uploaded media files
/files
# FTP-uploaded demos
/demos
# generated exports
/exports

# Ignore the comments
content/blog/**/*.json

# Ignore those files because I'm working on that at the moment...
*.bak.*
*.bak
_bak
