var srcBasePath = './src/';
var destBasePath = './blog/dist/';

module.exports = {
	info: {
		rootPath: '/',
		title: 'Default Website Title',
		description: 'Default Website Description'
	},
	base: {
		src: srcBasePath,
		dest: destBasePath,
	},
	libs: {
		src: [srcBasePath + 'js/libs/*.js'],
		dest: destBasePath + 'js/libs',
	},

	flags: {
		// boolean or other variables to toggle features
	},

	posts: {
		watch: [
			'./entries/**/*.md',
			srcBasePath + 'views/**/*'
		],
		src: './entries/**/*.md',
		templates: srcBasePath + 'views/templates/',
		dest: './blog/',
	},
	pages: {
		watch: ['./pages/**/*'],
		src: './pages/**/*.md',
		dest: '../main',
	},

	scss: {
		watch: [srcBasePath + 'scss/**/*.scss'],
		src: srcBasePath + 'scss/style.scss',
		dest: destBasePath + 'css',
	},
	js: {
		minified: 'app.min.js',
		src: srcBasePath + 'js/index.js',
		dest: destBasePath + 'js',
	},
	images: {
		watch: [srcBasePath + 'images/**/*'],
		src: srcBasePath + 'images/**/*',
		dest: destBasePath + 'images',
	},
	fonts: {
		watch: [srcBasePath + 'fonts/*'],
		src: srcBasePath + 'fonts/*',
		dest: destBasePath + 'fonts',
	}
}
