.archive__list {
	overflow: hidden;
	list-style: none;
	padding-left: 0;
	margin: 0 0 5em;
	line-height: 1.4;
}

.archive__month-year {
	display: inline-block;
	margin: 1em 0;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.4;
	color: $color-bg;
	background-color: $color-active;
}

.archive__item {
	white-space: nowrap;
}

.archive__item + .archive__item {
	margin-top: 0.5em;
}

.archive__meta {
	display: inline-block;
	margin-right: 0.25em;
	line-height: 1.1;
	color: $color-bg;
	background-color: $color-primary;
}

.archive__type {
	display: none;
	font-style: italic;

	@media (min-width: $mq-mobile) {
		display: inline;
	}
}

.archive__extra {
	display: none;

	@media (min-width: 500px) {
		display: inline;
	}
}
