.e {
	display: flex;
	flex-wrap: wrap;
}

.e_ps {
	display: inline-block;
	vertical-align: top;
	max-width: 700px;
	margin-right: 2em;
	margin-bottom: 2em;
}
.e_cm {
	margin-right: 2em;
	margin-bottom: 2em;
	flex-grow: 1;

	@media (min-width: $mq-mobile) {
		display: inline-flex;
		vertical-align: top;
	}
}

.e_bk {
	display: inline-block;
}

.e_hd {
	margin: 2em 0;
}

.e_mt {
	display: inline-block;
	margin-right: 0.25em;
	padding: 0.25em;
	color: $color-bg;
	background-color: $color-primary;
}

.e_tp {
	font-style: italic;
}

.e_tt {
	display: inline-block;
	font-size: 1em;
	font-weight: 400;
}

.e_bd {
	margin-top: 2em;
	line-height: 1.5em;

	> * {
		margin: 0;
		line-height: 1.5;

		+ * {
			margin-top: 1em;
		}
	}

	code {
		display: inline-block;
		padding: 0 0.15em;
		font-family: $font-plex;
		font-size: 1em;
		line-height: 1.4;
		font-style: italic;
		color: $color-bg;
		background-color: $color-active;
	}

	ul {
		padding-left: 1.5em;
		margin: 1.5em 0 2em;
		list-style: none;

		ul {
			margin-top: 0.25em;
			padding-left: 0;
		}
	}

	li {
		position: relative;
		padding-left: 1em;

		&:before {
			content: '_ ';
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	li + li {
		margin-top: 0.25em;
	}
}
