.index {
	max-width: 700px;
}

.index__header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1.5em;
}

.index__heading {
	margin: 0;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.4;
	font-style: italic;
	color: $color-bg;
	background-color: $color-active;
}

.index__secondary {
	font-style: italic;
}

.index__list {
	overflow: hidden;
	list-style: none;
	padding-left: 0;
	margin: 0 0 5em;
	line-height: 1.4;
}

.index__item {
	white-space: nowrap;
}

.index__item + .index__item {
	margin-top: 1em;
}

.index__meta {
	display: inline-block;
	margin-right: 0.25em;
	line-height: 1.1;
	color: $color-bg;
	background-color: $color-primary;
}

.index__type {
	display: none;
	font-style: italic;

	@media (min-width: $mq-mobile) {
		display: inline;
	}
}

.index__extra {
	display: none;

	@media (min-width: 500px) {
		display: inline;
	}
}
