.lc {
	overflow-x: hidden;
	overflow-y: auto;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 1em;
	background-color: #f8f4ff;

	@media (min-width: 500px) {
		overflow: visible;
		flex-grow: 1;
		position: static;
		width: auto;
		height: auto;
		padding: 0;
		max-width: 535px;
		background-color: transparent;
	}

	&.state-leave-comment-active {
		display: block;
	}
}

.lc_hd {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 0 1.5em;

	@media (min-width: 500px) {
		margin-top: 3em;
	}
}

.lc_tt {
	display: inline-block;
	margin: 0;
	padding: 0.25em;
	font-size: 1em;
	font-weight: 400;
	color: $color-bg;
	background-color: $color-primary;
}

.lc_st {
	display: none;
	flex-grow: 1;
	margin-left: 0.5em;
	font-style: italic;

	@media (min-width: 350px) {
		display: inline-block;
	}
}

.lc_cl {
	display: inline-block;
	margin-left: 0.5em;
	padding: 0;
	color: $color-primary;
	font-family: $font-plex;
	font-size: 1em;
	border: 0;
	text-decoration: underline;
	background-color: transparent;
	cursor: pointer;

	&:hover,
	&:focus {
		color: $color-bg;
		background-color: $color-secondary;
		text-decoration: none;
	}
}

.lc_tx,
.lc_ip {
	width: 100%;
	padding: 0.5em;
	font-family: $font-plex;
	font-size: 1em;
	color: $color-primary;
	background-color: $color-bg;
	border: 2px solid $color-primary;

	&:focus {
		color: $color-active;
		border-color: $color-active;
	}
}

.lc_tx {
	min-height: 120px;
	resize: vertical;
	line-height: 1.4;
}

.lc_ll {
	display: block;
	margin-bottom: 0.25em;

	i {
		color: $color-subdued;
	}
}

.lc_lb {
	display: block;
	margin-bottom: 1.5em;
}

.lc_sb {
	padding: 0;
	color: $color-primary;
	font-family: $font-plex;
	font-size: 1em;
	border: 0;
	background-color: transparent;
	text-decoration: underline;
	cursor: pointer;

	&:hover,
	&:focus {
		color: $color-bg;
		background-color: $color-secondary;
		text-decoration: none;
	}
}