.note {
	display: none;
	position: absolute;
	z-index: 100;
	top: 120%;
	left: 0;
	min-width: 35em;
	padding: 1em;
	line-height: 1.4;
	color: var(--color-primary);
	border: 2px solid currentColor;
	background-color: var(--color-bg);
	cursor: help;
	box-shadow: 0.8em 0.8em 0 0 var(--color-primary);

	&.state-note-visible {
		display: block;
	}
}
