.post-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;

  @media (min-width: $mq-medium) {
    justify-content: start;
  }
}

.post-nav__dir {
  margin-right: 1rem;
}

.post-nav__dir--next {
  text-align: right;
}

.post-nav__link {
  display: inline-block;
  padding: 0.25rem;
  color: var(--color-bg);
  background-color: var(--color-subdued);
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: var(--color-active);
  }
}
