.post-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 50rem;
  margin-top: 1.5rem;

  @media (min-width: $mq-medium) {
    justify-content: start;
  }
}

.post-nav__item {
  flex-grow: 1;

  + .post-nav__item {
    margin-left: 1rem;
  }
}

.post-nav__item--adjacent {
  text-align: right;
}

.post-nav__link {
  display: inline-block;
  padding: 0.25rem;
  color: var(--color-bg);
  background-color: var(--color-subdued);
  text-decoration: none;

  + .post-nav__link {
    margin-left: 1rem;
  }

  &:hover,
  &:focus {
    background-color: var(--color-secondary);
  }
}
