// use raf to "accelerate" the scrolling of the rainbows,... on scroll, with smooth out
.rainbow {
	--duration: 130ms;
	--stagger-delay: 25ms;
	--color-rainbow: var(--color-primary);
	position: fixed;
	z-index: var(--z-interface);
	bottom: 0;
	left: 0;
	width: 20vw;
	height: 1.5rem;
	transition: height var(--duration) cubic-bezier(.71,.02,.41,1);
	background-color: var(--color-rainbow);

	&[c=secondary] {
		--color-rainbow: var(--color-secondary);
		left: 20%;
		transition-delay: var(--stagger-delay);
	}
	&[c=active] {
		--color-rainbow: var(--color-active);
		left: 40%;
		transition-delay: calc(var(--stagger-delay) * 2);
	}
	&[c=subdued] {
		--color-rainbow: var(--color-subdued);
		left: 60%;
		transition-delay: calc(var(--stagger-delay) * 3);
	}
	&[c=extra] {
		--color-rainbow: var(--color-extra);
		left: 80%;
		transition-delay: calc(var(--stagger-delay) * 4);
	}

	.transition & {
		height: 100vh;
	}

	@media (min-width: $mq-medium) {
		width: 1.25rem;
		top: 0;
		height: 20vh;
		transition: width var(--duration) cubic-bezier(.71,.02,.41,1);

		.transition & {
			width: 100%;
			height: 20vh;
		}

		&[c] {
			left: 0;
		}
		&[c=secondary] {
			top: 20%;
		}
		&[c=active] {
			top: 40%;
		}
		&[c=subdued] {
			top: 60%;
		}
		&[c=extra] {
			top: 80%;
		}
	}
}
