.read-comment {
	display: none;
	flex-grow: 1;
	margin: 0 0 5em;
	max-width: 535px;

	&.state-read-comment-active {
		display: block;
	}
}

.read-comment_hd {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 3em 0 1.5em;
}

.read-comment_tt {
	display: inline-block;
	margin: 0;
	padding: 0.25em;
	font-size: 1em;
	font-weight: 400;
	color: $color-bg;
	background-color: $color-primary;
}

.read-comment_st {
	display: inline-block;
	flex-grow: 1;
	margin-left: 0.5em;
	font-style: italic;
}

.read-comment_cl {
	display: inline-block;
	margin-left: 0.5em;
	padding: 0;
	font-family: $font-plex;
	font-size: 1em;
	text-decoration: underline;
	color: $color-primary;
	border: 0;
	background-color: transparent;
	cursor: pointer;

	&:hover,
	&:focus {
		text-decoration: none;
		color: $color-bg;
		background-color: $color-secondary;
	}
}

.read-comment_bd {
	margin-bottom: 1em;
	line-height: 1.4;
}
