.read-comment {
	display: none;
	flex-grow: 1;
	width: 100%;
	margin: 0 0 5em;

	&.state-read-comment-active {
		display: block;
	}
}

.read-comment__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 1.5em 0 1.5em;
}

.read-comment__heading {
	display: inline-block;
	margin: 0;
	padding: 0.25em;
	font-size: 1em;
	font-weight: 400;
	color: var(--color-bg);
	background-color: var(--color-primary);
}

.read-comment__status {
	display: inline-block;
	flex-grow: 1;
	margin-left: 0.5em;
	font-style: italic;
}

.read-comment__close {
	display: inline-block;
	margin-left: 0.5em;
	padding: 0;
	font-family: var(--font);
	font-size: 1em;
	text-decoration: underline;
	color: var(--color-primary);
	background-color: transparent;

	@include hover-focus {
		text-decoration: none;
		color: var(--color-bg);
		background-color: var(--color-secondary);
	}
}

.read-comment__body {
	margin-bottom: 1em;
	line-height: 1.4;
}
