.x_hd {
	display: inline-block;
	margin-bottom: 1em;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.4;
	font-style: italic;
	color: $color-bg;
	background-color: $color-active;
}

.x_ls {
	overflow: hidden;
	list-style: none;
	padding-left: 0;
	margin: 0;
	line-height: 1.4;
}

.x_it {
	white-space: nowrap;
}

.x_it + .x_it {
	margin-top: 1em;
}

.x_mt {
	display: inline;
	margin-right: 0.75em;
	color: $color-bg;
	background-color: $color-primary;
}

.x_tp {
	display: none;
	font-style: italic;

	@media (min-width: $mq-mobile) {
		display: inline;
	}
}

.x_ex {
	display: none;

	@media (min-width: 500px) {
		display: inline;
	}
}
