.debug-align {
	--x: 0;
	--y: 0;
	--opacity: 1;
	--thickness: 1px;
	--color: var(--color-primary);
}

.debug-align__vertical,
.debug-align__horizontal {
	display: none;
	position: fixed;
	z-index: 700;
	top: 0;
	left: 0;
	opacity: var(--opacity);
	pointer-events: none;
	background-color: var(--color);

	.state-align-displayPosition & {
		&:before {
			content: attr(data-position);
			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;
			padding: 0 0.25rem;
			margin: 2px;
			font-size: 75%;
			color: var(--color);
			background-color: var(--color-bg);
			border: 1px solid var(--color);
		}
	}
}

.debug-align__vertical {
	width: var(--thickness);
	height: 100%;
	transform: var(--x);

	.state-align-displayVertical & {
		display: block;
	}
}
.debug-align__horizontal {
	width: 100%;
	height: var(--thickness);
	transform: var(--y);

	.state-align-displayHorizontal & {
		display: block;
	}
}
