.debug-ui {
	display: none;

	&.state-debug-active {
		display: block;
	}
}

.debug-ui__container {
	position: fixed;
	z-index: 1000;
	bottom: 1rem;
	left: 1rem;
	right: 1rem;

	padding: 1rem;

	color: var(--color-primary);
	background-color: var(--color-bg);
	border: 2px solid var(--color-primary);
}

.debug-ui__tab-list {
	display: flex;
	align-items: center;
}

.debug-ui__tab-trigger {
	position: relative;
	padding: 0;
	padding-left: 2em;
	margin-right: 1.25rem;
	font-family: var(--font);
	font-size: 1rem;
	line-height: 1.6;
	color: var(--color-primary);
	background-color: transparent;
	text-decoration: underline;

	&:hover,
	&:focus {
		color: var(--color-bg);
		background-color: var(--color-secondary);
		text-decoration: none;
	}

	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		font-size: 1.5rem;
	}

	&.state-tab-active {
		color: var(--color-bg);
		background-color: var(--color-active);
		text-decoration: none;
	}
}
[data-tab-id="grid"] {
	&:after {
		content: '🏗';
	}
}
[data-tab-id="align"] {
	&:after {
		content: '↔️';
	}
}
[data-tab-id="stack"] {
	&:after {
		content: '📚';
	}
}
[data-tab-id="measure"] {
	&:after {
		content: '📏';
	}
}

.debug-ui__tab {
	display: none;

	&.state-tab-active {
		display: block;
		margin-top: 1rem;
	}
}
