.debug-ui {
	display: none;

	&.state-debug-active {
		display: block;
	}
}

.debug-ui__grid {
	--display: none;
	--thickness: 1px;
	--size: 2rem;
	--opacity: 0.5;
	--color: #000000;

	display: var(--display);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	z-index: 700;
	background-size: var(--size);
	background-repeat: repeat;
	background-image: linear-gradient(
		to left,
		var(--color) var(--thickness),
		transparent 2px
	);
	opacity: var(--opacity);

	&.state-grid-horizontal {
		background-image: linear-gradient(
			to bottom,
			var(--color) var(--thickness),
			transparent 2px
		);
	}
	&.state-grid-vertical {
		background-image: linear-gradient(
			to left,
			var(--color) var(--thickness),
			transparent 2px
		);
	}
	&.state-grid-vertical.state-grid-horizontal {
		background-image: linear-gradient(
			to bottom,
			var(--color) var(--thickness),
			transparent 2px
		),
		linear-gradient(
			to left,
			var(--color) var(--thickness),
			transparent 2px
		);
	}
}

.debug-ui__panel {
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	z-index: 1000;

	padding: 2rem 1rem;

	color: var(--color-primary);
	background-color: var(--color-bg);
	border-top: 2px solid var(--color-primary);
}
