{{#> layouts/default }}

<div class="index index--entry">
	{{> ui/header }}
</div>

<div>
	TEST ZONE

	<a href="{{ this.meta.previous.meta.url }}">
		{{ this.meta.previous.meta.title }}
	</a>
	<pre>|</pre>
	<a href="{{ this.meta.next.meta.url }}">
		{{ this.meta.next.meta.title }}
	</a>
</div>

<article class="post" data-component="collapse">
	<div
		class="post__window"
		aria-label="Entry content"
		data-component="highlight"
	>
		<header class="post__heading" role="heading">
			<div class="post__meta">
				<time class="post__date">
					{{ meta.date }}
				</time>
				<span class="post__type">
					[{{ meta.type }}]
				</span>
			</div>

			{{#if meta.title}}
			<h1 class="post__title">
				{{ meta.title }}
			</h1>
			{{/if}}
		</header>

		<div class="post__body" data-component="notes">
			{{{ content }}}
		</div>

		{{#if meta.edit}}
		<i class="post__edit-date">
			(last edited: {{ meta.edit }})
		</i>
		{{/if}}
	</div>

	{{#if meta.commentsGrid}}
	<div class="post__comments state-loading" data-component="comments">
		{{> entries/comments}}
		{{> entries/leave-comment}}
		{{> entries/read-comment}}
	</div>
	{{/if}}
</article>

{{/layouts/default}}