.resume-section {
  margin: 4rem 0;
}

.resume-section__heading {
  display: inline-block;
  margin: 0 0 2rem;
  padding: 0.25rem;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.2;
  font-style: normal;
  color: var(--color-bg);
  background-color: var(--color-active);
}
