.page--home {
  padding-bottom: 10rem;
}

.home__section {
  position: relative;
  width: 80%;
  padding: 1.5rem 2.5rem;
  border-radius: 0 3.5rem 0 3.5rem;

  + .home__section {
    margin-top: -0.05rem;
  }

  p {
    margin: 0;
  }

  a {
    display: inline-block;
    padding: 0 0.25rem;
    color: var(--homelink-color, var(--color-active));
    background-color: var(--color-bg);
    outline: 2px solid var(--color-bg);
    border: 2px solid var(--homelink-color);
    text-decoration: none;

    @include hover-focus {
      --homelink-color: var(--color-secondary);
    }
  }

  // color sections
  &[data-what] {
    color: var(--color-bg);

    a { color: var(--homelink-color); }
  }

  // declinations
  &[data-what=yeah] {
    --homelink-color: var(--color-primary);
    background-color: var(--color-primary);
  }
  &[data-what=ugh] {
    left: 5%;
    background-color: var(--color-secondary);
  }
  &[data-what=thats-right] {
    --homelink-color: var(--color-active);
    left: 10%;
    background-color: var(--color-active);
  }
  &[data-what=come-on-now] {
    left: 15%;
    background-color: var(--color-subdued);
  }
}
