.blog {
  margin: 0 0 5em;
  line-height: 1.4;
}

.blog__month-archive {
  margin-top: 1rem;
}

.blog__month-posts {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.blog__item {
  display: flex;
}

.blog__item + .blog__item {
  margin-top: 0.25rem;
}

.blog__link {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.blog__meta {
  flex-shrink: 0;
  display: inline-block;
  padding: 0.25rem;
  margin-right: 0.5rem;
  line-height: 1.1;
  color: var(--color-bg);
  background-color: var(--color-primary);
}

.blog__extra {
  display: none;

  @media (min-width: 500px) {
    display: inline;
  }
}
