.post.bookmarks {
  display: block;
}

.bookmarks__wrapper {
  display: block;
  width: 100%;

  .content {
    padding-right: 0;
  }
}

.bookmarks__filter-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}

.bookmarks__filter-item {
  margin: 0 0.5rem 0.5rem 0;
}

.bookmarks__filter-btn {
  &::after {
    content: '[ ]';
    margin-left: 0.5rem;
  }

  &[data-active=true] {
    &::after {
      content: '[x]';
      color: var(--color-bg);
      background-color: var(--color-secondary);
    }
  }
}


.bookmarks__list {
  &.content ul {
    list-style: none;
    padding-left: 0;
  }

  // nested list (description)
  &.content ul ul {
    list-style: circle;
    margin-top: -1.1rem;
    margin-bottom: 2.5rem;
    padding: 1rem 0 0.25rem 2rem;
    border-left: 2px solid var(--color-active);
  }

  // hide bookmarks by default (only show those that match the filters)
  &.content li {
    display: none;
    padding-left: 0;

    &:before {
      display: none;
    }

    &[data-filtered=true] {
      display: block;
    }
  }

  // don't affect the nested lists
  &.content ul ul li {
    display: list-item;
  }
}
