{{#> layouts/default }}

<div class="index index--entry">
	{{> ui/header }}
</div>

{{> ui/breadcrumbs }}

<article class="post" data-component="collapse">
	<div
		class="post__window"
		aria-label="{{ meta.title }}"
		data-component="highlight"
	>
		<header class="post__heading">
			<div class="post__meta">
				<time class="post__date">
					{{ meta.prettyDate }}
				</time>
				<span class="post__type">
					tags: {{ meta.type }}
				</span>
			</div>
		</header>

		{{> ui/content }}

		{{#if meta.edit}}
		<i class="post__edit-date">
			(last edited: {{ meta.edit }})
		</i>
		{{/if}}

		{{> ui/post-nav }}
	</div>

	<div class="post__comments state-loading" data-component="comments">
		{{> entries/comments}}
		{{> entries/leave-comment}}
		{{> entries/read-comment}}
	</div>
</article>


{{/layouts/default}}