{{#> layouts/page }}

{{> ui/breadcrumbs }}

<article class="post">
	<div
		class="post__window"
		aria-label="{{ meta.title }}"
		data-component="highlight"
	>
		<header class="post__heading">
			<div class="post__meta">
				<time class="post__date">
					{{ meta.prettyDate }}
				</time>
				{{#if meta.tags }}
				<span class="post__type">
					tags: {{ meta.tags }}
				</span>
				{{/if}}
			</div>
		</header>

		{{> ui/content }}

		{{#if meta.edit}}
		<i class="post__edit-date">
			(last edited: {{ meta.edit }})
		</i>
		{{/if}}

		{{> ui/post-nav }}
	</div>

</article>

{{/layouts/page}}