<div
	class="leave-comment"
	data-js="leave-comment-popup"
>
	<header class="leave-comment__header">
		<h2 class="leave-comment__heading">
			Leave a comment
		</h2>

		<div class="leave-comment__status">
			(in dot <span data-js="selected-dot"></span>)
		</div>

		<button
			type="button"
			class="leave-comment__close"
			data-js="close"
		>
			close<span aria-hidden="true"> ×</span>
		</button>
	</header>

	<form
		class="leave-comment__form"
		data-js="comment-form"
		data-entry-id="{{ date }}"
	>
		<label class="leave-comment__field">
			<div class="leave-comment__label">
				Comment <i>(1500 characters max.)</i>

				<button
					type="button"
					class="leave-comment__speak"
					data-js="speak-comment"
				>
					read
				</button>
			</div>
			<textarea
				class="leave-comment__textarea"
				data-js="content"
				name="content"
				maxlength="1500"
				required
			></textarea>
		</label>

		<label class="leave-comment__field">
			<div class="leave-comment__label">
				Name <i>(if left blank, “Anonymous” will be used)</i>
			</div>
			<input
				class="leave-comment__input"
				data-js="author"
				type="text"
				name="author"
				maxlength="100"
			>
		</label>

		<button type="submit" class="leave-comment__submit">
			Done
		</button>
		<button
			type="button"
			class="leave-comment__cancel"
			data-js="close"
		>
			Cancel
		</button>
	</form>
</div>
