<div class="leave-comment js-leave-comment">
	<header class="leave-comment__header">
		<h2 class="leave-comment__heading">
			Leave a comment
		</h2>

		<div class="leave-comment__status">
			(in dot <span class="js-leave-comment-dot"></span>)
		</div>

		<button type="button" class="leave-comment__close js-comment-close">
			close ×
		</button>
	</header>

	<form
		class="leave-comment__form js-comment-form"
		data-entry-id="{{ date }}"
	>
		<label class="leave-comment__field">
			<span class="leave-comment__label">
				Comment <i>(1500 characters max.)</i>
			</span>
			<textarea
				class="leave-comment__textarea js-comment-content"
				name="content"
				maxlength="1500"
				required
			></textarea>
		</label>

		<label class="leave-comment__field">
			<span class="leave-comment__label">
				Name <i>(if left blank, “Anonymous” will be used)</i>
			</span>
			<input
				class="leave-comment__input js-comment-author"
				type="text"
				name="author"
				maxlength="100"
			>
		</label>

		<button type="submit" class="leave-comment__submit">
			Done
		</button>
		<button type="button" class="leave-comment__cancel js-comment-close">
			Cancel
		</button>
	</form>
</div>
