.drawer__btn {
  .state-drawer-expand & {
    position: sticky;
    bottom: 0;
  }
}

.drawer__container {
  position: relative;
  overflow: hidden;
  height: 0;
  border-left: 2px solid var(--color-secondary);
}

.drawer__wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 2rem;
}

.content {
  .drawer__wrap {
    blockquote {
      padding-left: 0;
      margin-left: 0;
      border-left: 0;
    }
  }
}

