.drawer {
  position: relative;
  overflow: hidden;
  height: 1.5em;
  padding: 0;
  margin: 1rem 0;
  color: var(--color-primary);
  background-color: transparent;
  border-left: 2px solid transparent;
  transition:
    border 300ms cubic-bezier(.46,.82,.08,1.04),
    margin 300ms cubic-bezier(.46,.82,.08,1.04),
    padding 300ms cubic-bezier(.46,.82,.08,1.04);

  &.state-drawer-expand {
    height: auto;
    padding: 0 0 0 1.5em;
    margin-bottom: 2rem;
    border-left: 2px solid var(--color-secondary);
  }

  button {
    margin-bottom: 0.5rem;
    padding: 0.25rem 0;
    font-family: var(--font);
    font-size: 1em;
    line-height: 1;
    text-decoration: underline;
    color: var(--color-primary);
    background-color: transparent;

    @include hover-focus {
      text-decoration: none;
      color: var(--color-bg);
      background-color: var(--color-secondary);
    }
  }

  p {
    + p {
      margin-top: 1.5em;
    }
  }
}
