.side-note {
	padding: 0;
	color: var(--color-subdued);
	font-family: var(--font-body);
	font-size: 1rem;
	text-align: left;
	background-color: transparent;
	cursor: pointer;

	&:after {
		content: attr(data-note);
		@include box( var(--color-subdued) );
		display: none;
		position: absolute;
		z-index: 3;
		right: 0;
		max-width: calc( 100vh - 2rem);
		padding: 1rem;
		margin: 0 0 3rem;
		font-size: 0.9rem;
	}

	&.state-note-visible {
		&:after {
			display: block;
		}
	}

	@include hover-focus {
		color: var(--color-bg);
		background-color: var(--color-subdued);
	}
}
