// box with border and drop shadow
@mixin box( $color: var(--color-primary), $bg: var(--color-bg) ) {
  color: $color;
  border: 2px solid $color;
  background-color: $bg;
  box-shadow: 0.8em 0.8em 0 0 $color;
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin hover-focus {
  @include hover {
    @content;
  }
  &:focus {
    @content;
  }
}

@mixin scrollbars {
  &::-webkit-scrollbar {
    width: 0.5rem;
    background-color: rgb(0, 0, 0, 0.05);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary);
  }
}

@mixin shadow {
  box-shadow: 0 4px 0 0 rgba(0,0,0,0.05);

  @include hover {
    box-shadow: 0 2px 0 0.1rem rgba(0,0,0,0.08);
  }

  &:focus {
    box-shadow: 0 0 0 0.25rem rgba(0,0,0,0.05);
  }

  &:active {
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.05);
  }
}

@mixin round {
  border-radius: 0.75rem;
}
