// "June" colorscheme crafted with: https://coolors.co/ff6c23-a46bea-f9eaea-ffdd21-65b25e
:root {
  --color-bg: #f9eaea; // Linen
  --color-primary: #a46bea; // Rich Lavender
  --color-active: #ff6c23; // Pumpkin
  --color-secondary: #ea8fcd; // Kobi
  --color-subdued: #65b25e; // Bud Green
  --color-extra: #ffdd21; // Banana Yellow

  --internal-link-underline: var(--color-secondary) wavy underline;
  --external-link-underline: var(--color-subdued) wavy underline;

  --font: 'Fantasque Sans Mono', Courier, monospace;
}

$max-width: 1200px;
$responsive-width: 90%;

$mq-xsmall: 30rem;
$mq-small: 42rem;
$mq-medium: 50rem;
$mq-large: 60rem;

$site-width: 50rem;