<div
	class="debug-panel debug-align"
	data-panel="align"
	data-component="debug-align"
>
	<div
		class="debug-align__vertical"
		data-js="line-vertical"
	></div>
	<div
		class="debug-align__horizontal"
		data-js="line-horizontal"
	></div>

	<div class="debug-panel__area">

		<div class="debug-panel__control debug-panel__control--toggle">
			<label>
				<input
					type="checkbox"
					data-prop="displayVertical"
					data-control
					data-toggle
					checked
				>
				Vertical
			</label>
		</div>

		<div class="debug-panel__control debug-panel__control--toggle">
			<label>
				<input
					type="checkbox"
					data-prop="displayHorizontal"
					data-control
					data-toggle
					checked
				>
				Horizontal
			</label>
		</div>

	</div>

</div>

