<div
	class="debug-panel debug-align"
	data-panel="align"
	data-component="debug-align"
>
	<div
		class="debug-align__vertical"
		data-js="line-vertical"
	></div>
	<div
		class="debug-align__horizontal"
		data-js="line-horizontal"
	></div>

	<div class="debug-panel__area">

		<div class="debug-panel__control debug-panel__control--toggle">
			<label>
				<input
					type="checkbox"
					data-prop="displayVertical"
					data-hotkey="shift+v"
					data-control
					data-toggle
					checked
				>
				Vertical
				<span class="hotkey hotkey--wide">shift+v</span>
			</label>
		</div>

		<div class="debug-panel__control debug-panel__control--toggle">
			<label>
				<input
					type="checkbox"
					data-prop="displayHorizontal"
					data-hotkey="shift+h"
					data-control
					data-toggle
					checked
				>
				Horizontal
				<span class="hotkey hotkey--wide">shift+h</span>
			</label>
		</div>

		<div class="debug-panel__control debug-panel__control--toggle">
			<label>
				<input
					type="checkbox"
					data-prop="displayPosition"
					data-hotkey="shift+p"
					data-control
					data-toggle
					checked
				>
				Display position
				<span class="hotkey hotkey--wide">shift+p</span>
			</label>
		</div>

	</div>

</div>

