<div class="debug-ui" data-component="debug-ui">
	<div
		class="debug-ui__grid"
		data-js="grid"
	></div>

	<div class="debug-ui__panel" data-js="panel">
		<label>
			Grid size:
			<input
				type="number"
				class="debug-ui__grid-size"
				data-js="grid-control"
				data-prop="size"
				data-prop-unit="rem"
			>
		</label>

		<label>
			<input
				type="checkbox"
				class="debug-ui__grid-orient"
				data-js="grid-control"
				data-prop="vertical"
				data-toggle
			>
			Vertical
		</label>
		<label>
			<input
				type="checkbox"
				class="debug-ui__grid-orient"
				data-js="grid-control"
				data-prop="horizontal"
				data-toggle
			>
			Horizontal
		</label>

		<button
			type="button"
			class="debug-ui__toggle-btn"
			data-js="toggle-grid"
		>
			Toggle Grid
		</button>
	</div>
</div>

<!--
	data-grid-size="2"
	data-grid-unit="rem"
	data-grid-color="#000000"
	data-grid-color="#000000"
-->