<div class="debug-ui" data-component="debug-ui">
	<div
		class="debug-ui__container"
		data-component="tabs"
		data-component-id="debug-tabs"
	>
		<nav
			class="debug-ui__tab-list"
			data-ui="tab-list"
		>
			<button
				type="button"
				class="debug-ui__tab-trigger"
				data-control="tab-trigger"
				data-tab-id="grid"
			>
				Grid
			</button>
			<button
				type="button"
				class="debug-ui__tab-trigger"
				data-control="tab-trigger"
				data-tab-id="align"
			>
				Align
			</button>
			<button
				type="button"
				class="debug-ui__tab-trigger"
				data-control="tab-trigger"
				data-tab-id="stack"
			>
				Stack
			</button>
		</nav>

		<div class="debug-ui__tabs">
			<div class="debug-ui__tab" data-ui="tab" data-tab-id="grid">
				{{> debug/debug-grid}}
			</div>
			<div class="debug-ui__tab" data-ui="tab" data-tab-id="align">
				{{> debug/debug-align}}
			</div>
			<div class="debug-ui__tab" data-ui="tab" data-tab-id="stack">
				{{> debug/debug-stack}}
			</div>
		</div>
	</div>
</div>
