<div
	class="debug-panel debug-stack"
	data-panel="stack"
	data-component="debug-stack"
>
	<div class="debug-xxx"></div>

	<div class="debug-panel__area">

		<div class="debug-panel__control debug-panel__control--toggle">
			<label>
				<input
					type="checkbox"
					data-control="enable-stack"
				>
				Show stacks
			</label>
		</div>

		<div class="debug-panel__control debug-stack__filter-level">
			<label>
				Filter by <i>z-index</i>:
				<select data-control="filter-level">
				</select>
			</label>
		</div>

	</div>

</div>

