@font-face {
	font-family: 'IBM Plex Mono';
	src: url('../fonts/plex-mono-regular.woff2') format('woff2'),
		url('../fonts/plex-mono-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'IBM Plex Mono';
	src: url('../fonts/plex-mono-italic.woff2') format('woff2'),
		url('../fonts/plex-mono-italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'IBM Plex Mono';
	src: url('../fonts/plex-mono-bold.woff2') format('woff2'),
		url('../fonts/plex-mono-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'IBM Plex Mono';
	src: url('../fonts/plex-mono-bold-italic.woff2') format('woff2'),
		url('../fonts/plex-mono-bold-italic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}

$font-plex: 'IBM Plex Mono', Courier, monospace;

$color-bg: #f9eaea; // Linen
$color-primary: #a46bea; // Rich Lavender
$color-active: #ff6c23; // Pumpkin
$color-secondary: #ea8fcd; // Kobi
$color-subdued: #65b25e; // Bud Green
$color-extra: #ffdd21; // Banana Yello

// sizes
$max-width: 1200px;
$responsive-width: 90%;

// media queries
$mq-mobile : 500px;
$mq-tablet-portrait : 900px;
$mq-tablet : 1050px;
$mq-desktop : 1280px;

html {
	font-size: 16px;
	font-smooth: never;
	-webkit-font-smoothing: none;
	box-sizing: border-box;
	font-family: $font-plex;
	font-size: 14px;
	color: $color-primary;
	background-color: $color-bg;
}

body {
	margin: 0;
}

::-moz-selection {
	color: $color-bg;
	background: $color-subdued;
}
::selection {
	color: $color-bg;
	background: $color-subdued;
}

*, *:before, *:after {
	box-sizing: inherit;
}

img {
	max-width: 100%;
}

a {
	color: $color-primary;
	outline: none;

	&:visited {
		color: $color-primary;
	}

	&:hover,
	&:focus {
		color: $color-bg;
		background-color: $color-secondary;
		text-decoration: none;
	}
}

button {
	font-family: monospace;
	border: 0;
	outline: none;
	cursor: pointer;
}

del {
	background-color: $color-primary;
}
