$font-georgia: Georgia, "Times New Roman", serif;

$color-bg: #ffffff;
$color-clear: #F9F9F9;
$color-blue: #00ADFF;
$color-primary: $color-blue;
$color-magenta: #FF0094;
$color-green: #00FF1D;
$color-yellow: #EFFF00;

// sizes
$max-width: 1200px;
$responsive-width: 90%;

// media queries
$mq-mobile : 500px;
$mq-tablet-portrait : 900px;
$mq-tablet : 1050px;
$mq-desktop : 1280px;

$ease-expo: cubic-bezier(.7, 0, .3, 1);
$ease-expo-out: cubic-bezier(.2, .6, .3, 1);
$ease-expo-in: cubic-bezier(.8, 0, .7, 1);

html {
	font-size: 16px;
	box-sizing: border-box;
	font-family: $font-georgia;
	font-size: 14px;
	color: $color-primary;
	background-color: $color-bg;
}

body {
	margin: 0;
}

::-moz-selection {
	color: $color-bg;
	background: $color-blue;
}
::selection {
	color: $color-bg;
	background: $color-blue;
}

*, *:before, *:after {
	box-sizing: inherit;
}

img {
	max-width: 100%;
}

a {
	color: $color-primary;
	outline: none;

	&:visited {
		color: $color-primary;
	}

	&:hover,
	&:focus {
		color: $color-bg;
		background-color: $color-magenta;
		text-decoration: none;
	}
}

button {
	font-family: monospace;
	border: 0;
	outline: none;
	cursor: pointer;
}

del {
	background-color: $color-primary;
}
