.comments {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.comments__input {
  position: relative;
  z-index: 1;
  appearance: none;
  width: 100%;
  padding: 0.5rem;
  font-family: var(--font);
  font-size: 1rem;
  color: var(--color-primary);
  background-color: var(--color-bg);
  border: none;
  border-bottom: 2px solid;
  border-radius: 0;
  outline: none;

  &:focus {
    z-index: 2;
    border-color: var(--color-active);
  }
}

.comments__author {
  font-style: italic;
}

.comments__convo {
  overflow: auto;
  position: relative;
  padding: 1rem;
  overscroll-behavior: contain;
}

.state-loading {
  .comments__convo {
    &:before {
      content: '';
      position: absolute;
      z-index: 3;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-primary);
    }
  }
}

