<div
	class="comments state-loading"
	data-component="comments"
	data-url="{{ meta.url }}"
>
	<form
		class="comments__write"
		data-control="comment-box"
	>
		<input
			class="comments__input"
			data-control="author"
			type="text"
			id="author"
			name="author"
			maxlength="100"
			placeholder="your display name"
		>

		<input
			class="comments__input"
			data-control="message"
			type="text"
			id="content"
			name="content"
			maxlength="1000"
			placeholder="say something"
			required
		>
	</form>

	<div
		class="comments__convo"
		data-ui="convo"
	>
	</div>

</div>
