{{#> layouts/page }}

{{> components/breadcrumbs }}

<div class="blog">

{{#each postsByMonth as |entries archive| }}

  <div class="blog__month-archive">
    <h2
      id="{{ archive }}"
      class="heading blog__month-year"
      aria-level="2"
      data-anchor="{{ archive }}"
      data-js="archive"
    >
      {{ archive }}
    </h2>

    <ul class="blog__month-posts">
    {{#each entries}}
      <li class="blog__item">
        <div class="blog__head">
          <small class="blog__date">
            {{ this.meta.month }}/{{ this.meta.day }}
          </small>

          {{#if this.meta.title}}
            <div class="blog__title">
              <a
                href="{{ this.meta.url }}"
                data-js="entry"
              >{{this.meta.title}}</a>
              <small class="blog__description">✷ {{this.meta.description}}</small>
            </div>
          {{else}}
            missing title...
          {{/if}}
        </div>

        {{#if this.excerpt }}
          <div class="blog__preview content">
            {{{ this.excerpt }}}
          </div>
        {{/if}}
      </li>
    {{/each}}
    </ul>
  </div>

  {{#if @last }}
  {{else}}
  <p>~~</p>
  {{/if}}

{{/each}}
</div>

{{/layouts/page}}
