.blog {
  margin: 0 0 5em;
  line-height: 1.4;
}

.blog__month-archive {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.blog__month-posts {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.blog__head {
  display: flex;
  align-items: center;
  line-height: 1.6;
}

.blog__item + .blog__item {
  margin-top: 0.25rem;
}

.blog__title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  color: var(--color-secondary);

  &:hover {
    background-color: transparent;

    div {
      background-color: var(--color-secondary);
    }
  }
}

.blog__meta {
  flex-shrink: 0;
  display: inline-block;
  padding: 0.25rem;
  margin-right: 0.5rem;
  line-height: 1.1;
  color: var(--color-bg);
  background-color: var(--color-primary);
}

.blog__preview {
  // padding: 0 1rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
  // border-left: 2px solid var(--color-secondary);
}

.blog__extra {
  display: none;

  @media (min-width: 500px) {
    display: inline;
  }
}
