{{#> layouts/page }}

{{> components/breadcrumbs }}

<div class="blog">

{{#each postsByMonth as |entries archive| }}

  <div class="blog__month-archive">
    <h2
      id="{{ archive }}"
      class="heading blog__month-year"
      aria-level="2"
      data-anchor="{{ archive }}"
      data-js="archive"
    >
      {{ archive }}
    </h2>

    <ul class="blog__month-posts">
    {{#each entries}}
      <li class="blog__item">
        <div class="blog__meta">
          <span class="blog__date">
            {{ this.meta.month }}/{{ this.meta.day }}
          </span>
        </div>

        {{#if this.meta.title}}
          <div class="blog__title">
            <a
              class="button"
              href="{{ this.meta.url }}"
              title="{{ this.meta.description }}"
              data-js="entry"
            >
              {{this.meta.title}}
            </a>
            <small>{{this.meta.description}}</small>
          </div>
        {{else}}
          missing title...
        {{/if}}
      </li>
    {{/each}}
    </ul>
  </div>

{{/each}}
</div>

{{/layouts/page}}
