.blog {
  margin: 0 0 5em;
  line-height: 1.5;
}

.blog__month-archive {
  margin: 0 0 3rem;
  padding: 1rem;
  box-shadow: 0 0.25rem 0 0.25rem rgba(0,0,0,0.05);
  border-radius: 0.75rem;
}

.blog__month-posts {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.blog__item + .blog__item {
  margin-top: 0.25rem;
}

.blog__date {
  display: inline-block;
  padding: 0.25rem;
  line-height: 1.1;
  color: var(--color-bg);
  background-color: var(--color-primary);
}

// when highlighted
.blog__item.state-highlighted .post-shortcut__date::after {
  content: ' ->';
}

.blog__item.state-highlighted .post-shortcut__date {
  color: var(--color-primary);
  background-color: var(--color-extra);
}
