{{#> layouts/page }}

{{> components/breadcrumbs }}

<div class="index post bookmarks" data-component="filter-bookmarks">
  <template data-ui="filter-item">
    <li class="bookmarks__filter-item">
      <button class="bookmarks__filter-btn button" type="button" class="button">
      </button>
    </li>
  </template>

  <div class="bookmarks__filters">
    <h2 class="heading-alt">{{ t.byTags }}</h2>
    {{ t.show }}:
    <button class="button button--light" data-control="all">{{ t.all }}</button>
    <button class="button button--light" data-control="none">{{ t.none }}</button>
  </div>

  <ul class="bookmarks__filter-list" data-ui="filters-list">
  </ul>

  <div class="bookmarks__wrapper" data-ui="bookmarks">
    <div class="bookmarks__list content">
      {{{ content }}}
    </div>
  </div>
</div>

{{/layouts/page}}
