{{#> layouts/page }}

{{> components/breadcrumbs }}

<div class="bookmarks content">
  {{#each meta.bookmarks as |bookmarks tag| }}
    <aside data-component="drawer" data-label="show: {{ tag }} (+)" data-close-label="hide {{ tag }} (-)" data-open>
      <h2>{{ tag }}</h2>
      <ul>
        {{#each bookmarks }}
          <li>
            <a href="{{ this.link }}" target="_blank" rel="noreferrer noopener">
              “{{{ title }}}”
            </a>

            {{#if this.notes }}
            <blockquote>
              {{#each this.notes }}
                {{markdown this }}
              {{/each}}

              {{#if this.rating }}
              <div class="bookmark__rating">
                {{{ this.rating }}}
              </div>
              {{/if}}
            </blockquote>
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </aside>
  {{/each}}
</div>

{{/layouts/page}}
