.bookmarks.content {
  h2 {
    margin-top: 0;
  }
  ul li::marker {
    color: var(--color-secondary);
  }
  ul li blockquote {
    margin-left: -1rem;
    font-size: 0.9rem;
  }
  ul li + li {
    margin-top: 1.5rem;
  }
}

.bookmarks__anchor {
  padding-top: 10rem;
}

.bookmark__rating {
  font-style: normal;
}
