{{#> layouts/page }}

{{> components/breadcrumbs }}

{{> components/content }}

{{> components/squiggle }}

<div class="bookmarks__tag-nav">
{{#each meta.bookmarks as |bookmarks tag| }}
  <a href="#tagged:{{tag}}">{{ tag }}</a>
  {{#if @last }}
  {{else}}
    {{> components/dot }}
  {{/if }}
{{/each}}
</div>

<div class="bookmarks content" data-component="bookmarks">
  {{#each meta.bookmarks as |bookmarks tag| }}
    <div class="bookmarks__tag">
      <div class="bookmarks__anchor" id="tagged:{{tag}}">
        <h2>{{ tag }}</h2>
      </div>

      <ul>
        {{#each bookmarks }}
          <li
            data-ui="bookmark"
            data-id="{{ this.id }}"
            data-tag="{{ tag }}"
            data-title="{{{ this.title }}}"
            data-source="{{ this.source }}"
            data-rating="{{ this.rating }}"
          >
            <a
              href="{{ this.link }}"
              target="_blank"
              rel="noreferrer noopener"
            >
              “{{{ title }}}”
            </a>
            {{# if this.source }}
              <small class="bookmark__source color-secondary">->&nbsp;{{ this.source }}</small>
            {{/if}}


            {{#if this.notes }}
              <blockquote>
                {{#each this.notes }}
                  {{markdown this }}
                {{/each}}

                {{#if this.rating }}
                <div class="bookmark__rating">
                  {{{ this.rating }}}
                </div>
                {{/if}}
              </blockquote>
            {{/if}}
          </li>
        {{/each}}
      </ul>

      {{#if @last }}
      {{else}}
        {{> components/squiggle }}
      {{/if}}
    </div>
  {{/each}}
</div>

{{/layouts/page}}
