{{#> layouts/page }}

{{> components/breadcrumbs }}

<div class="links">

  {{#each meta.links as |links tag| }}
  <div class="links__tag content">

    <h3 id="{{tag}}">{{ tag }}</h3>

    <ul>

      {{#each links }}
      <li>

        <a
          href="{{ this.link }}"
          target="_blank"
          rel="noreferrer noopener"
        >{{{ title }}}</a>

        {{# if this.source }}
        <small class="links__source color-secondary">->&nbsp;{{ this.source }}</small>
        {{/if}}

        {{#if this.notes }}
        <blockquote>{{#each this.notes }}{{ markdown this }}{{/each}}</blockquote>
        {{/if}}

      </li>
      {{/each}}

    </ul>

  </div>
  {{/each}}

</div>

{{/layouts/page}}
