{{#> layouts/page }}

{{> components/breadcrumbs }}

<article class="post">
  <div
    class="post__window"
    aria-label="{{ meta.title }}"
    data-component="highlight"
  >
    <header class="post__heading">
      <div class="post__meta">
        <time class="post__date">
          {{ meta.prettyDate }}
        </time>

        {{#if meta.description }}
        <small class="post__description">{{ meta.description }}</small>
        {{/if}}

        {{#if meta.tags }}
        <small class="post__type">(tagged: <em>{{ meta.tags }}</em>)</small>
        {{/if}}

        {{#if meta.edited }}
        <small class="post__edited color-subdued">-> edited on: {{ meta.edited }}</small>
        {{/if}}
      </div>
    </header>

    {{> components/content }}

    {{#if meta.edit}}
    <i class="post__edit-date">
      (last edited: {{ meta.edit }})
    </i>
    {{/if}}

    {{> components/post-nav }}
  </div>

</article>

{{/layouts/page}}