.header {
	@media (min-width: $mq-medium) {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 0 1em;
	}
}

.header__header-extend {
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
}

.header__heading {
	margin: 0;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.2;
	font-style: italic;
	color: $color-bg;
	background-color: $color-active;
}

.header__back {
	position: relative;
	display: inline-block;
	padding-left: 1.15em;

	&:before {
		content: '↩';
		position: absolute;
		left: 0;
		top: -0.1rem;
		font-size: 1.2rem;
		font-style: normal;
		color: $color-active;
	}

	&:hover,
	&:focus {
		&:before {
			color: $color-bg;
		}
	}
}
@supports (-moz-appearance: none) {
	.header__back {
		&:before {
			top: 0.1rem;
			font-size: 0.9rem;
		}
	}

}

.header__toggle-menu {
	position: fixed;
	z-index: 100;
	top: 1rem;
	right: 1rem;
	display: inline-block;
	padding: 0 0.25rem 0 0;
	margin: 0;
	font-family: $font-plex;
	font-size: 1em;
	text-decoration: underline;
	color: $color-primary;
	background-color: transparent;

	&.state-menu-active {
		.header__toggle-open {
			display: none;
		}
		.header__toggle-close {
			display: inline;
		}
	}

	&:hover,
	&:focus {
		color: $color-bg;
		background-color: $color-secondary;
		text-decoration: none;

		span {
			text-decoration: none; // in toggle-open
		}
	}

	@media (min-width: $mq-medium) {
		position: relative;
		top: auto;
		right: auto;
	}
}

.header__toggle-open {
	display: inline-block;
	line-height: 1;
	text-decoration: none;

	span {
		text-decoration: underline;
	}

	i {
		display: inline-block;
		position: relative;
		top: 0.1rem;
		left: -0.15rem;
		width: 1rem;
		font-size: 1.15rem;
		font-style: normal;
		line-height: 0;
	}
}

.header__toggle-close {
	display: none;
}

.header__menu {
	display: none;
	position: fixed;
	z-index: 100;
	left: 1rem;
	right: 1.75rem;
	top: 3rem;
	padding: 1em;
	border: 2px solid currentColor;
	background-color: $color-bg;
	box-shadow: 0.8em 0.8em 0 0 rgba($color-primary, 0.75);

	hr {
		margin: 1rem 0;
	}

	&.state-menu-active {
		display: block;
	}

	@media (min-width: $mq-medium) {
		right: auto;
		left: 29rem;
	}
}

.header__menu-bg {
	display: none;
	position: fixed;
	z-index: 90;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	padding: 0;
	background-color: $color-bg;
	opacity: 0.8;

	&.state-menu-active {
		display: block;
	}
}

.header__menu-item {
	display: block;
	text-align: right;

	+ .header__menu-item {
		margin-top: 0.75em;
	}

	@media (min-width: $mq-medium) {
		text-align: left;
		margin: 0 1em 0 0;
	}
}

.header__menu-link {
	display: inline-block;
	position: relative;
	padding: 0; // reset button
	padding-right: 1.75em;
	font-family: $font-plex;
	font-size: 1rem;
	color: $color-primary;
	background-color: transparent;
	text-decoration: underline;

	&:visited {
		color: $color-primary;
	}

	&:hover,
	&:focus {
		color: $color-bg;
		background-color: $color-secondary;
		text-decoration: none;
	}

	&:after {
		content: '';
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}

	@media (min-width: $mq-medium) {
		padding-left: 1.75em;
		padding-right: 0;

		&:after {
			left: 0;
			right: auto;
		}
	}
}
.header__menu-link--blog {
	&:after {
		content: '📓';
	}
}
.header__menu-link--photofeed {
	&:after {
		content: '📷';
	}
}
.header__menu-link--bookmarks {
	&:after {
		content: '🔖';
	}
}
.header__menu-link--bandcamp {
	&:after {
		content: '';
		display: inline-block;
		width: 1.15em;
		height: 1.15em;
		background-image: url('../images/bandcamp.png');
		background-size: contain;
	}
}
.header__menu-link--main {
	&:after {
		content: '🌀';
	}
}
.header__menu-link--help {
	&:after {
		content: '🆘';
	}
}

.header__jump-to {
	width: 100%;
	margin: 1em 0 0;
	padding: 0.1rem;
	font-size: 0.9rem;
	line-height: 1.2;
	font-family: $font-plex;
	font-style: normal;
	color: $color-secondary;
	border: 1px solid currentColor;
	background-color: $color-bg;
	border-radius: 0.25rem;
	cursor: pointer;

	&:hover,
	&:focus {
		color: $color-bg;
		background-color: $color-secondary;
		border-color: $color-secondary;
	}

	@media (min-width: $mq-medium) {
		width: 10rem;
		margin: 0 0 0 1em;
		border: auto;
	}
}
