.index {
	max-width: none;

	@media (min-width: $mq-medium) {
		max-width: 50rem;
	}
}

.index__list {
	overflow: hidden;
	list-style: none;
	padding-left: 0;
	margin: 0 0 5em;
	line-height: 1.4;
}

.index__item {
	white-space: nowrap;
}

.index__item + .index__item {
	margin-top: 0.8em;
}

.index__meta {
	display: inline-block;
	margin-right: 0.25em;
	line-height: 1.1;
	color: var(--color-bg);
	background-color: var(--color-primary);
}

.index__type {
	display: none;
	font-style: italic;

	@media (min-width: $mq-mobile) {
		display: inline;
	}
}

.index__extra {
	display: none;

	@media (min-width: 500px) {
		display: inline;
	}
}
