@keyframes levitate {
	from {
		transform: translate(0, );
	}
	to {
		transform: translate(0, -50%);
	}
}

.shapes {
	display: none;

	@media (min-width: 1200px) {
		display: block;
		position: fixed;
		z-index: -1; // ye olde hacke
		right: -5em;
		bottom: -5em;
	}
}

$shapesSize: 10em;
.shapes__circle {
	position: absolute;
	bottom: 2em;
	right: 2em;
	width: 20em;
	height: 20em;
	border-radius: 50%;
	filter: blur(50px);
	animation: levitate 3s ease-in-out infinite alternate-reverse;
}
.shapes__circle--c1 {
	z-index: 1;
	bottom: -4em;
	right: -1em;
	mix-blend-mode: normal;
	background-color: $color-active;
}
.shapes__circle--c2 {
	z-index: 6;
	right: 8em;
	bottom: 13em;
	mix-blend-mode: normal;
	background-color: $color-secondary;
	animation-delay: -300ms;
}
.shapes__circle--c3 {
	z-index: 3;
	right: -3em;
	bottom: 25em;
	mix-blend-mode: multiply;
	background-color: $color-primary;
	animation-delay: -1500ms;
}
.shapes__circle--c4 {
	z-index: 4;
	bottom: 37em;
	right: -10em;
	mix-blend-mode: multiply;
	background-color: $color-subdued;
	animation-delay: -700ms;
}
.shapes__circle--c5 {
	z-index: 5;
	bottom: 7em;
	mix-blend-mode: multiply;
	background-color: $color-extra;
	animation-delay: -1230ms;
}