/*
 * Color vars
 *
 * NOTE:
 *
 * - Please use the prefix "color-"
 *
 * - It is recommended not to use the variables for black and white because
 * color names for black and white (among others) is standard and well
 * supported: https://www.w3.org/TR/CSS21/syndata.html#value-def-color
 *
 * - Still leaving them for the example, though.
 */

$color-black: black;
$color-white: white;

/**
 * Color Palette
 *
// ICE
$color-bg: #f7f4ff;
$color-primary: #000516;
$color-secondary: #e55255;
$color-active: #af8e21;
$color-subdued: #514572;
*/


// PAPPERR
$color-bg: #f8f4ff;
$color-primary: #00b288;
$color-active: #f72762;
$color-secondary: #3c449e;
$color-subdued: #cec6d1;

/*
// JUNGLE
$color-bg: #051600;
$color-primary: #f4fff7;
$color-secondary: #ffdc00;
$color-active: #5255e5;
$color-subdued: #457254;
*/

/*
// OLD SCHOOL COOL CPU
$color-bg: #001616;
$color-primary: #f4fbff;
$color-secondary: #ff00c3;
$color-active: #00ff1d;
$color-subdued: #455772;
*/

/*
previous scheme
$color-bg: #0d0026;
$color-primary: #f6f4ff;
$color-secondary: #ff144b;
$color-active: #00ffdd;
$color-subdued: #554572;
*/