/**
 * Color Palettes
 */

// Sandy Beach
// $color-bg: #fffefc; // Baby Powder
// $color-primary: #277399; // Lapis Lazuli
// $color-active: #ffa035; // Deep Saffron
// $color-secondary: #a82a69; // Amaranth Deep Purple
// $color-subdued: #b1adce; // Wild Blue Yonder

// Panamá
// $color-bg: #fffefc; // Baby Powder
// $color-primary: #233b8c; // Cosmic Cobalt
// $color-active: #ffbb35; // Sunglow
// $color-secondary: #58d3aa; // Medium Aquamarine
// $color-subdued: #cf99d8; // Light Grayish Magenta

// PAPPERR
// $color-bg: #fffefc; // Baby Powder
// $color-primary: #00b288; // Persian Green
// $color-active: #f72762; // Radical Red
// $color-secondary: #3c449e; // Blue (Pigment)
// $color-subdued: #cec6d1; // Lavender Gray

// Blue (Da Ba Dee)
$color-bg: #f9f9f9; // Snow
$color-primary: #0059ff; // Blue (RYB)
$color-active: #38e06d; //
$color-secondary: #0059ff; // Blue (RYB)
$color-subdued: #a0b4bf; // Wild Blue Yonder
