$max-width: 1200px;
$responsive-width: 90%;

@mixin container($width: $max-width) {
	width: $responsive-width;
	max-width: $width;
	margin-left: auto;
	margin-right: auto;
}

@mixin clearfix {
	&:before,
	&:after {
		content: ' ';
		display: table;
	}

	&:after {
		clear: both;
	}
}

html {
	margin: 1em;
	font-size: 16px;
	font-smoothing: subpixel-antialiased;
	box-sizing: border-box;
	font-family: $font-plex;
	font-size: 13px;
	color: $color-primary;
	background-color: $color-bg;
}

::-moz-selection {
	color: $color-bg;
	background: $color-secondary;
}
::selection {
	color: $color-bg;
	background: $color-secondary;
}

*, *:before, *:after {
	box-sizing: inherit;
}

img {
	max-width: 100%;
}

a {
	color: $color-primary;

	&:hover,
	&:focus {
		color: $color-bg;
		background-color: $color-active;
		text-decoration: none;
	}
}
