/*
 * Media Query - Breakpoint Values
 *
 * NOTE:
 *
 * - These are pre-established values for breakpoints, when you want an
 * arbitrary transition from one layout to another, for example.
 *
 * - Use them like: @media (min-width: $mq-mobile) { ... }
 *
 * - Nothing prevents you from NOT EVER USING THESE and use specific values when
 * it makes sense for a component.
 */

$mq-mobile : 500px;
$mq-tablet-portrait : 900px;
$mq-tablet : 1050px;
$mq-desktop : 1280px;
