@font-face {
	font-family: 'IBM Plex Mono';
	src: url('/assets/fonts/plex-mono-regular.woff2') format('woff2'),
		url('/assets/fonts/plex-mono-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'IBM Plex Mono';
	src: url('/assets/fonts/plex-mono-italic.woff2') format('woff2'),
		url('/assets/fonts/plex-mono-italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'IBM Plex Mono';
	src: url('/assets/fonts/plex-mono-bold.woff2') format('woff2'),
		url('/assets/fonts/plex-mono-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'IBM Plex Mono';
	src: url('/assets/fonts/plex-mono-bold-italic.woff2') format('woff2'),
		url('/assets/fonts/plex-mono-bold-italic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}
