html { // specify that we're dealing with the documentElement
	&[data-theme="high-contrast"] {
		--color-bg: #f9f9f9;
		--color-primary: #0059ff;
		--color-secondary: #0059ff;
		--color-active: #38e06d;
		--color-subdued: #a0b4bf;
		--color-extra: #ff5400;
	}
	&[data-theme="black-and-white"] {
		--color-bg: #ffffff;
		--color-primary: #000000;
		--color-secondary: #000000;
		--color-active: #000000;
		--color-subdued: #000000;
		--color-extra: #000000;
	}
	&[data-theme="dark"] {
		--color-bg: #1d1542;
		--color-primary: #e7d9f7;
		--color-secondary: #ffc4ec;
		--color-active: #ff9763;
		--color-subdued: #9dd698;
		--color-extra: #ffe44f;
	}
}
