@font-face {
	font-family: 'IBM Plex Mono';
	src: url('~assets/fonts/plex-mono-regular.woff2') format('woff2'),
		url('~assets/fonts/plex-mono-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'IBM Plex Mono';
	src: url('~assets/fonts/plex-mono-italic.woff2') format('woff2'),
		url('~assets/fonts/plex-mono-italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'IBM Plex Mono';
	src: url('~assets/fonts/plex-mono-bold.woff2') format('woff2'),
		url('~assets/fonts/plex-mono-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'IBM Plex Mono';
	src: url('~assets/fonts/plex-mono-bold-italic.woff2') format('woff2'),
		url('~assets/fonts/plex-mono-bold-italic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}

@mixin font-size($size, $line-height: false) {
	font-size: $size;
	font-size: ($size / 1px) / 16 + rem;
	@if $line-height {
		line-height: $line-height;
	}
}

.heading {
	display: inline-block;
	padding: 0.25rem;
	margin: 1em 0;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.2;
	color: var(--color-bg);
	background-color: var(--color-active);
}
