.color-primary { color: var(--color-primary); }
.color-secondary { color: var(--color-secondary); }
.color-subdued { color: var(--color-subdued); }
.color-active { color: var(--color-active); }
.color-extra { color: var(--color-extra); }

.bg-primary { background-color: var(--color-primary); }
.bg-secondary { background-color: var(--color-secondary); }
.bg-subdued { background-color: var(--color-subdued); }
.bg-active { background-color: var(--color-active); }
.bg-extra { background-color: var(--color-extra); }
