.state-drawer-expand .drawer__btn {
position: sticky;
bottom: 0;
}

.drawer__container {
position: relative;
overflow: hidden;
height: 0;
border-left: 2px solid var(--color-secondary);
}

.drawer__wrap {
position: absolute;
top: 0;
left: 0;
width: 100%;
padding-left: 2rem;
padding-bottom: 1rem;
}

.content .drawer__wrap h1,
.content .drawer__wrap h2,
.content .drawer__wrap h3,
.content .drawer__wrap h4,
.content .drawer__wrap h5 {
&:first-child {
margin-top: 0;
}}

.content .drawer__wrap blockquote { margin-left: 0; margin-bottom: 3rem; }
