.drawer__container {
  position: relative;
  overflow: hidden;
  height: 0;
  border-left: 2px solid var(--color-secondary);
  background-color: rgba(0, 0, 0, 0.01);
  border-radius: 0 0.75rem 0.75rem 0;
  box-shadow: 0 4px 0 0 rgba(0,0,0,0.05);
}

.drawer__wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 1rem 1rem 2rem;
}

.drawer__btn {
  position: relative;
  z-index: 2;
  transition: border-radius 200ms ease-out;

  .state-drawer-expand & {
    border-radius: 0 0 0.75rem 0.75rem;
  }
}

.content .drawer__wrap {
  h1, h2, h3, h4, h5 {
    &:first-child {
      margin-top: 0;
    }
  }
}

.content .drawer__wrap blockquote { margin-left: 0; margin-bottom: 3rem; }
