.drawer__container {
  position: relative;
  overflow: hidden;
  height: 0;
  top: 1rem;
  border-left: 2px solid var(--color-secondary);
  background-color: rgba(0, 0, 0, 0.01);
  border-radius: 0 0.75rem 0.75rem 0;
  box-shadow: 0 4px 0 0 rgba(0,0,0,0.05);
}

.drawer__wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 1rem 1rem 2rem;
}

.drawer__btn {
  position: sticky;
  z-index: 2;
  top: 1rem;
  transition: border-radius 200ms ease-out;
}
