[data-box-id="menu"] .box__frame {
  width: 100%;
  height: auto;
  left: auto;
  right: 0;

  @media (min-width: $mq-small) {
    width: auto;
  }
}

[data-box-id="menu"] {
  .box__wrap {
    min-width: 15rem;
    text-align: center;
    border-radius: 1.25rem;
  }
}
