[data-box-id="menu"]
.box__frame {
width: auto;
height: auto;
left: auto;
right: 0;
}

[data-box-id="menu"]
.box__wrap { height: auto; }

.box-nav { padding: 1rem; }
.box-nav .nav { text-align: left; }
