.breadcrumbs {
  display: flex;
  margin-bottom: 1.5rem;

  span {
    margin: 0 0.5rem;
  }

  @media print {
    display: none;
  }
}

.breadcrumbs__node,
.breadcrumbs__root {
	font-size: 1em;
	font-weight: 400;
}

.breadcrumbs__leaf {
  background-color: var(--color-extra);
}
