<div class="breadcrumbs no-print" role="navigation">

<h2 class="visually-hidden">{{ t en="Breadcrumbs" fr="Fil d'Ariane" }}</h2>

<a class="breadcrumbs__root" href="{{ meta.baseURL }}">{{ t en="Home" fr="Accueil" }}</a>

{{#if meta.breadcrumbs }}
{{#each meta.breadcrumbs }}
  <span class="color-secondary">-></span>
  <a class="breadcrumbs__node" href="{{ this.meta.url }}">{{ this.meta.title }}</a>
{{/each}}
{{/if}}

<span class="color-secondary">-></span>

<span class="breadcrumbs__leaf">{{ meta.title }}</span>

</div>
