.comments {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.comments__title {
  padding: 0.5rem;
  border: 2px solid;

  small {
    padding: 0.25rem;
    color: var(--color-secondary);
    border-radius: 0.25rem;
    border: 2px solid;
  }
}

.comments__convo {
  @include scrollbars;
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior: contain;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  margin: 2px; // TODO border trick...
  padding: 0.5rem;
}

.comments__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  z-index: 1;
  appearance: none;
  width: 100%;
  margin: 0;
  padding: 0.5rem;
  font-family: var(--font);
  font-size: 1rem;
  color: var(--color-primary);
  background-color: var(--color-bg);
  border: 2px solid;
  border-radius: 0;
  outline: none;
  box-shadow: none;

  &::-webkit-input-placeholder {
    font-style: italic;
    color: var(--color-primary);
    opacity: 0.5;
  }

  &:focus {
    z-index: 2;
    border-color: var(--color-active);

    &::-webkit-input-placeholder {
      color: var(--color-active);
      opacity: 1;
    }
  }
}

.comments__author {
  font-style: italic;
  bottom: -2px; // overlap the previous field for a cool, "stacked" effect ;)
}
