<div
class="comments"
data-component="comments"
data-url="{{ meta.url }}"
>

<div class="comments__title"><em>url:</em> <small>{{ meta.url }}</small></div>

<div class="comments__convo" data-ui="convo"></div>

<form class="comments__write" data-control="comment-box">

<label class="visually-hidden" for="author">{{ t en="nickname" fr="pseudonyme" }}</label>

<input
class="comments__input comments__author"
data-control="author"
type="text"
id="author"
name="author"
maxlength="32"
placeholder='{{ t en="nickname" fr="pseudonyme" }}'
required
>

<label class="visually-hidden" for="message">{{ t en="message" fr="message" }}</label>

<textarea
id="message"
class="comments__input comments__message content"
data-control="message"
name="content"
maxlength="1000"
placeholder='{{ t en="say something!" fr="exprimez-vous!" }}'
required
></textarea>

<button class="comments__submit button" type="submit" data-control="send">{{ t en="send" fr="envoyer" }} -></button>

</form>

</div>
