.comment-line {
  margin: 0.25rem 0;
}

.comment-line__author {
display: inline-block;
padding: 0 0.25rem;
margin-right: 0.5rem;
margin-bottom: 0.25rem;
background-color: var(--color-extra);
}

.comment-line__time {
font-size: 0.75rem;
line-height: 1rem;
color: var(--color-secondary);
white-space: nowrap;
}

.comment-line__message {
width: 100%;

&::after {
content: '~~';
display: block;
font-size: 0.8rem;
line-height: 2;
}}
