/**
 * TODO: flatten this css? :troll:
 */
.content {
  line-height: 1.5em;

  @media (min-width: $mq-medium) {
    position: relative;
  }

  > * {
    margin: 0;
    line-height: 1.5;

    + * {
      margin-top: 1.25em;
    }
  }

  > :first-child {
    margin-top: 0;
  }

  h1,
  h2,
  h3 {
    margin-top: 3rem;
    padding: 0.1rem 0.25rem;
    font-family: var(--font);
    font-size: 1em;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-bg);
    background-color: var(--color-secondary);

    [data-theme="mini-dark"] & {
      color: var(--color-primary);
    }
  }
  h2 {
    display: inline-block;
    background-color: var(--color-primary);

    [data-theme="mini-dark"] & {
      color: var(--color-bg);
    }
  }
  h1 + h2 {
    margin-top: 3rem;
  }

  strong {
    font-weight: normal;
    background-color: var(--color-extra);
  }

  h3,
  code {
    display: inline-block;
    padding: 0.1rem 0.25rem;
    font-family: var(--font);
    font-size: 1rem;
    line-height: 1;
    font-style: italic;
    color: var(--color-bg);
    background-color: var(--color-active);
  }
  code {
    font-size: 0.9rem;
  }
  // TODO: seems strange to have to tweak this for some specific themes... but this is for better a11y
  [data-theme="mini-dark"] & {
    h3, code {
      color: var(--color-primary);
    }
  }
  h2 + h3 {
    margin-top: 1.5rem;
  }

  ul {
    overflow: auto; // TODO testing this out: this is for overflowing URLs in lists, on mobile (prevents full-screen horizontal scrolling)
    padding-left: 0;
    margin: 1.5rem 0;
    list-style: none;

    ul {
      margin-top: 0.25rem;
      margin-bottom: 0;

      li {
        &:before {
          content: '○';
        }
      }
    }

    li {
      padding-left: 1rem;

      &:before {
        content: '● ';
        position: absolute;
        top: 0;
        left: 0;
        color: var(--color-secondary);
      }
    }
  }

  li {
    position: relative;
  }

  li + li {
    margin-top: 0.5em;
  }

  blockquote {
    padding-left: 1.5rem;
    border-left: 2px solid var(--color-secondary);
    font-style: italic;

    em, i {
      font-style: normal;
    }
  }

  li blockquote {
    margin-left: 0;
    margin-bottom: 2rem;
  }


  a[href^="http"] {
    &::after {
      content: ' ✧';
      font-style: normal;
      font-weight: normal;
    }
  }

  del {
    background-color: var(--color-primary);
    opacity: 0.5;

    a {
      color: var(--color-bg);
      background-color: var(--color-primary);
      text-decoration: none;

      &:hover,
      &:focus {
        color: var(--color-bg);
        background-color: var(--color-primary);
        cursor: not-allowed;
      }
    }
  }

  pre {
    overflow: auto;
    padding: 1rem;
    font-size: 0.5rem;
    letter-spacing: -0.075rem;
    color: var(--color-bg);
    background-color: var(--color-subdued);
  }

  .link {
    user-select: none;
    padding: 0;
    font-family: var(--font);
    font-size: 1rem;
    color: var(--color-primary);
    background-color: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    text-decoration: underline;

    @include hover-focus {
      color: var(--color-bg);
      background-color: var(--color-secondary);
      text-decoration: none;
    }
  }

  iframe {
    width: 100%;
    height: 200px;

    @media (min-width: $mq-xsmall) {
      height: 394px; // best ratio when video is full-width (700px wide)
    }
  }

  audio {
    width: 100%;
    height: 30px;
    background-color: var(--color-primary);
    border: 2px solid var(--color-primary);
  }

  figure {
    margin-top: 2rem;
    margin-bottom: 3rem;

    p {
      position: relative;
      z-index: 2;
    }
  }
  figcaption {
    position: relative;
    z-index: 1;
    padding-left: 1.5rem;
    margin-top: -0.5rem;
    margin-left: 2rem;
    font-size: 0.8rem;

    &::before {
      content: '';
      position: absolute;
      left: 0rem;
      top: -2.25rem;
      width: 1rem;
      height: 3rem;
      border-left: 2px solid var(--color-secondary);
      border-bottom: 2px solid var(--color-secondary);
    }
  }
}
