.content { line-height: 1.5rem; }

@media (min-width: $mq-medium) { .content { position: relative; }}

.content > * { margin: 0; line-height: 1.5rem; }

.content > * + * { margin-top: 1.25rem; }

.content > :first-child { margin-top: 0; }

.content h1,
.content h2,
.content h3 {
  margin-top: 3rem;
  padding: 0.1rem 0.25rem;
  font-family: var(--font);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-bg);
  background-color: var(--color-secondary);
}

.content h2 { display: inline-block; background-color: var(--color-primary); }

.content h1 + .content h2 { margin-top: 3rem; }

.content h2 + .content h3 { margin-top: 1.5rem; }

.content h3,
.content code {
  display: inline-block;
  padding: 0.1rem 0.25rem;
  font-family: var(--font);
  font-size: 1rem;
  line-height: 1;
  font-style: italic;
  color: var(--color-bg);
  background-color: var(--color-active);
}

.content ul, .content ol { overflow: auto; padding-left: 1rem; margin: 1.5rem 0; }
.content ol { list-style-position: inside; padding-left: 0; }

.content ul > li { padding-left: 0.5rem; }

.content ul > li::marker { content: 'â‹ '; }
.content ol > li::marker { font-style: italic; }

.content li::marker { color: var(--color-secondary); }

.content li + li { margin-top: 0.25em; }

.content ul ul li::marker { content: '->'; }

.content ul ul,
.content ol ul { padding-left: 1rem; margin: 0.5rem 0; }
.content ul ol,
.content ol ol { margin: 0.5rem 0; }

.content li blockquote { margin-left: 0; margin-bottom: 2rem; }

.content blockquote {
  margin-left: 0;
  padding-left: 0.75rem;
  border-left: 2px solid var(--color-secondary);
  font-style: italic;

  @media (min-width: $mq-xsmall) {
    padding-left: 1.5rem;
  }
}

.content blockquote em, .content blockquote i { font-style: normal; }

.content strong { font-weight: normal; background-color: var(--color-extra); }

.content code { font-size: 0.9rem; }

.content del { background-color: var(--color-primary); opacity: 0.5; }

.content del a {
  color: var(--color-bg);
  background-color: var(--color-primary);
  text-decoration: none;

  @include hover-focus {
  color: var(--color-bg);
  background-color: var(--color-primary);
  cursor: not-allowed;
  }
}

.content pre {
  overflow: auto;
  font-family: Menlo,Consolas,DejaVu Sans Mono,Monaco,monospace;
  font-size: 0.8rem;
  line-height: 1rem;
}

.content dfn {
  text-decoration: underline dashed var(--color-secondary);
  text-underline-offset: 0.25rem;
}

.content .link {
  user-select: none;
  padding: 0;
  font-family: var(--font);
  font-size: 1rem;
  color: var(--color-primary);
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
  text-decoration: underline;

  @include hover-focus {
  color: var(--color-bg);
  background-color: var(--color-secondary);
  text-decoration: none;
  }
}

.content iframe {
  width: 100%;
  height: 200px;

  @media (min-width: $mq-xsmall) { height: 394px; }
}

.content audio {
  width: 100%;
  height: 30px;
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

.content figure { margin-top: 2rem; margin-bottom: 3rem; }

.content figure p { position: relative; z-index: 2; }

.content figcaption {
  position: relative;
  z-index: 1;
  padding-left: 1.5rem;
  margin-top: -0.5rem;
  margin-left: 2rem;
  font-size: 0.8rem;
}

.content figcaption::before {
  content: '';
  position: absolute;
  left: 0rem;
  top: -2.25rem;
  width: 1rem;
  height: 3rem;
  border-left: 2px solid var(--color-secondary);
  border-bottom: 2px solid var(--color-secondary);
}
