<div class="experience content">

  <h3>{{ title }}</h3>

  <p>
    👨🏻‍💻
    {{#if url }}
    <a class="experience__link" href="{{ url }}" target="_blank" rel="noopener noreferrer">{{ company }}</a>
    {{else}}
    {{ company }}
    {{/if}}
  </p>
  <p>📍 {{ location }}</p>
  <small class="p-skill">{{ description }}</small>

  {{#if extra}}
  <ul>
    {{#each extra }}
    <li>

      {{#if this.href }}
      <a href="{{this.href}}" target="_blank" rel="noopener noreferrer">{{this.label}}</a>
      {{/if}}

      {{#if this.description }}<small class="p-summary">{{ this.description }}</small>{{/if}}
    </li>
    {{/each}}
  </ul>
  {{/if}}

</div>