.footer { margin: 2.5rem 0; font-size: 0.9rem; }

.button.footer__discussion {
  position: fixed;
  z-index: 10;
  bottom: 1.5rem;
  right: 1rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.75rem 0.75rem 0 0;
  background-color: var(--color-secondary);

  @include hover-focus {
  background-color: var(--color-active);
  }

  @media (min-width: $mq-medium) {
  bottom: 0;
  }
}

.footer__nav { margin: 0.75rem 0; line-height: 1.5; }

.footer__extra { opacity: 0.75; }

.footer__select {
  padding: 0;
  border: none;
  color: var(--color-primary);
  text-transform: lowercase;
  text-decoration: underline;
}

.footer__theme { white-space: nowrap; }