<nav class="footer-nav nav">

<a
href='{{ t en="/help" fr="/fr/aide" }}'
data-component="emit"
data-event="SHOW_BOX_HELP"
>{{ t en="help" fr="aide" }}</a>

{{#if themeFlags.USE_THEMES }}
<span class="footer-nav__theme no-js">{{> components/dot }}

<label for="footerThemeSelect">theme:</label>

<select
id="footerThemeSelect"
class="footer-nav__select"
data-component="themes"
>

<optgroup label="Light">

{{#each themes.light }}<option value="{{ this.id }}">{{ this.label }}</option>{{/each}}

</optgroup>

<optgroup label="Dark">

{{#each themes.dark }}<option value="{{ this.id }}">{{ this.label }}</option>{{/each}}

</optgroup>

</select>

</span>
{{/if }}

{{#if meta.i18n}}
{{#each meta.i18n as |url lang|}}
{{> components/dot }} <em><a href="{{ url }}">{{ t en="français" fr="english" }}</a></em>
{{/each}}
{{/if}}

</nav>