.footer {
  margin: 5rem 0 2.5rem;
  font-size: 0.9rem;
  text-align: right;
  transform-origin: 100% 0%;
  transform: rotate(2deg);

  svg {
    width: 1em;
    height: 1em;
    margin-top: -0.1rem;
    vertical-align: middle;
  }
}