.header {
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: $site-width;
  padding: 1rem 0;
  background-color: var(--color-bg);

  @media print {
    position: absolute;
    background-color: transparent;
    border-color: transparent !important; // it's ok, we're priting
  }
}

.header__title {
  margin: 0;
  font-weight: normal;
  white-space: nowrap;
}

.button.header__home-btn {
  display: block;
  line-height: 1.4;
  background-color: var(--color-active);

  @include hover-focus {
    background-color: var(--color-secondary);
  }

  [data-theme="mini-dark"] & {
    color: var(--color-primary);
    &:hover {
      color: var(--color-bg);
    }
  }
}

.header__nav {
  @media (min-width: $mq-small) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
  }
}

.button.header__menu-btn {
  display: block;
  width: 3.5rem;
  text-align: center;

  &.button--light {
    text-decoration: underline;
  }

  @include hover-focus {
    text-decoration: none;
  }

  @media (min-width: $mq-small) {
    display: none;
  }

  @media print {
    display: none;
  }
}

.header__back-to-top {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 1rem;
  width: 3.5rem;
  margin: 0;
  padding: 0.25rem;
  border-radius: 0 0 0.75rem 0.75rem;
  transform: translateY(-100%);
  transition: transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);

  [data-scrolled="true"] & {
    transform: translateY(0);
  }

  &.button {
    background-color: var(--color-secondary);

    @include hover-focus {
      background-color: var(--color-active);
    }
  }

  @media print {
    display: none !important;
  }
}
@media (prefers-reduced-motion: reduce) {
  .header__back-to-top { transition: none; }
}
