.header {
  position: fixed;
  top: 0;
  left: 1rem;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 2rem);
  max-width: $site-width;
  padding: 1rem 0;
  background-color: var(--color-bg);
  border-bottom: 2px solid transparent;

  [data-scrolled="true"] & {
    border-color: var(--color-secondary);
  }

  @media (min-width: $mq-medium) {
    width: calc(100% - 6rem);
    left: 3rem;
  }

  @media print {
    position: absolute;
    background-color: transparent;
    border-color: transparent !important; // it's ok, we're priting
  }
}

.header__title {
  margin: 0;
  font-weight: normal;
  white-space: nowrap;
}

.button.header__home-btn {
  display: block;
  line-height: 1.4;
  background-color: var(--color-active);

  @include hover-focus {
    background-color: var(--color-secondary);
  }

  [data-theme="mini-dark"] & {
    color: var(--color-primary);
    &:hover {
      color: var(--color-bg);
    }
  }

  span {
    display: none;
  }

  @media (min-width: 420px) {
    span {
      display: inline;
    }
  }
}

.header__nav {
  @media (min-width: $mq-small) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
  }
}

.button.header__menu-btn {
  display: block;
  min-width: 2rem;
  margin-left: 0.5rem;
  text-align: center;

  &.button--light {
    text-decoration: underline;
  }

  @include hover-focus {
    text-decoration: none;
  }

  @media (min-width: $mq-small) {
    display: none;
  }

  @media print {
    display: none;
  }
}

.header__back-to-top {
  position: absolute;
  z-index: 1;
  top: 100%;
  right: 0;
  width: 2.5rem;
  padding: 0.25rem;
  border-radius: 0 0 0.75rem 0.75rem;

  &.button {
    display: none;
    background-color: var(--color-secondary);

    @include hover-focus {
      background-color: var(--color-active);
    }

    [data-scrolled="true"] & {
      display: inline-block;
    }
  }

  @media (min-width: $mq-medium) {
    right: 0;
  }

  @media print {
    display: none !important;
  }
}
