<header class="header">
  <h1 class="header__title">
    <a href="{{ meta.root }}" class="header__home-btn button">
      Fred<span> Mercy</span>
    </a>
  </h1>

  <div class="header__nav">
    {{> components/nav type="main" items=nav.main}}

    <button
      title="{{ t.menuBtnTitle }}"
      class="button header__menu-btn"
      type="button"
      data-component="emit"
      data-event="SHOW_BOX_MENU"
    >
      {{ t.menu }}
    </button>
  </div>

  <button
    class="header__back-to-top button"
    data-component="to-top"
    type="button"
  >
    <span aria-hidden="true">↑</span>
    <span class="visually-hidden">{{ t.top }}</span>
  </button>
</header>
