.header {
  position: sticky;
  top: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--site-width);
  padding: 1rem 0;
  // background-color: var(--color-bg);

  @media print {
    // background-color: transparent;
    border-color: transparent !important; // it's ok, we're priting
  }
}

.header__title {
  margin: 0;
  font-weight: normal;
  white-space: nowrap;
}

.button.header__home-btn {
  display: block;
  line-height: 1.4;
  background-color: var(--color-active);
  transform: translateY(0);
  transition: transform 500ms cubic-bezier(.1,1.3,.5,1);

  [data-scrolled="true"] & {
    transform: translateY(-3rem);
  }

  @include hover-focus {
    background-color: var(--color-secondary);
  }
}

.header__nav {
  @media (min-width: $mq-small) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
  }
}

.header__page-title {
  display: none;

  @media print {
    display: block;
    margin-bottom: 0;
  }
}

.button.header__menu-btn {
  display: block;
  text-align: center;
}

.header__back-to-top {
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: center;
  top: 2.75rem;
  right: 1rem;
  width: 3.5rem;
  overflow: hidden;
  padding-bottom: 2rem;

  @media (min-width: $mq-small) {
    right: 3rem;
  }
}

/*
.header__to-top-btn {
  width: 1.75rem;
  height: 1.75rem;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  transform: translateY( calc(-100% - 0.75rem) );
  transition: transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);

  [data-scrolled="true"] & {
    transform: translateY(1rem);
  }

  &.button {
    background-color: var(--color-secondary);

    @include hover-focus {
      background-color: var(--color-active);
    }
  }

  @media (min-width: $mq-small) {
    top: 0;
  }
}
@media (prefers-reduced-motion: reduce) {
  .header__back-to-top { transition: none; }
}
*/
