<header class="header">
  <h1 class="header__title">
    <a href="{{ meta.baseURL }}" class="header__home-btn button">
      Fred Mercy
    </a>
  </h1>

  {{#if meta.isHome }}
  {{else}}
  <h2 class="heading header__page-title">
    ✺ {{ meta.title }}
  </h2>
  {{/if}}

  <div class="header__nav no-print">
    <button
      class="button header__menu-btn"
      type="button"
      data-component="emit"
      data-event="SHOW_BOX_MENU"
    >
      {{ t en="menu" fr="menu" }}
    </button>
  </div>

  <!-- <div class="header__back-to-top">
    <button
      class="header__to-top-btn button no-print"
      data-component="to-top"
      type="button"
    >
      <span aria-hidden="true">↑</span>
      <span class="visually-hidden">{{ t en="to top" fr="retour en haut" }}</span>
    </button>
  </div> -->
</header>
