.box .help {
  padding: 1rem;
}

.help__section {
  + .help__section {
    margin-top: 3rem;
  }
}

.help__separator {
  flex-shrink: 0;
  margin: 0 0 1.5rem;
}

.help__section--bug {
  padding-bottom: 2rem;
}

.help__heading {
  margin: 0 0 1rem;
  font-size: 1rem;
  color: var(--color-primary);
}

.help__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.help__item {
  display: flex;
  align-items: flex-start;
  line-height: 1.5;

  + .help__item {
    margin-top: 0.5rem;
  }
}

.help__icon {
  margin-right: 1rem;
  flex-shrink: 0;
  font-size: 1.35rem;
  line-height: 1.5;
  filter: var(--icon-filter);
}

.help__emphasis {
  display: inline-block;
  margin: 0;
  white-space: nowrap;
}
