<aside class="help" data-component="help" data-type-{{ type }}>
  <!-- this section requires javascript to function -->
  <div class="help__section no-js">
    <h2 class="heading-alt">
      {{ t en="help / options" fr="aide / paramètres" }}
    </h2>

    <ul class="help__list">
      {{#if themeFlags.USE_THEMES }}
      <li class="help__item">
        <div class="help__icon">
          🎨
        </div>
        <div>
          <strong class="help__emphasis">
            <label for="helpThemeSelect">
              {{ t en="theme:" fr="thème:" }}
            </label>
          </strong>
          <select
            id="helpThemeSelect"
            class="help__select"
            data-component="themes"
          >
            <optgroup label="Light">
              {{#each themes.light }}
                <option value="{{ this.id }}">{{ this.label }}</option>
              {{/each}}
            </optgroup>
            <optgroup label="Dark">
              {{#each themes.dark }}
                <option value="{{ this.id }}">{{ this.label }}</option>
              {{/each}}
            </optgroup>
        </select>
        </div>
      </li>
      {{/if}}

      <li class="help__item">
        <div class="help__icon">
          🔠
        </div>
        <div>
          <strong class="help__emphasis">
            {{ t en="use" fr="utiliser" }}
            <button class="hotkey help__key" data-control="help-big-font" type="button">+</button>
            {{ t en="and" fr="et" }}
            <button class="hotkey help__key" data-control="help-normal-font" type="button">-</button>
          </strong>
          {{ t en="to increase and decrease the size of the text." fr="pour augmenter ou diminuer la taille du texte." }}
        </div>
      </li>

      <li class="help__item">
        <div class="help__icon">
          Ⓜ️
        </div>
        <div>
          <strong class="help__emphasis">
            {{ t en="use" fr="utiliser" }}
            <button class="hotkey help__key" data-component="emit" data-event="TOGGLE_BOX_MENU" type="button">m</button>
          </strong>
          {{ t en="to toggle the main menu." fr="pour afficher et cacher le menu principal." }}
        </div>
      </li>

      <li class="help__item">
        <div class="help__icon">
          ⚙️
        </div>
        <div>
          <strong class="help__emphasis">
            {{ t en="use" fr="utiliser" }}
            <button class="hotkey help__key" data-component="emit" data-event="CLOSE_BOX_HELP" type="button">?</button>
          </strong>
          {{ t en="to toggle the help popup." fr="pour afficher/cacher la fenêtre d'aide." }}
        </div>
      </li>

      <li class="help__item">
        <div class="help__icon">
          ✤
        </div>
        <div>
          <strong class="help__emphasis">
            {{ t en="use" fr="utiliser" }}
            <button class="hotkey help__key" data-component="emit" data-event="TOGGLE_BOX_DISCUSS" type="button">c</button>
          </strong>
          {{ t en="to show the comments for this page." fr="pour afficher les commentaires de cette page." }}
        </div>
      </li>

      {{#if themeFlags.USE_BLEEPS }}
      <li
        class="help__item help__item--bleeps"
        data-component="bleeps"
      >
        <div class="help__icon">
          🎵
        </div>
        <div>
          <strong class="help__emphasis">
            {{ t en="use" fr="utiliser" }}
            <button
              class="hotkey help__key"
              data-control="enable-sounds"
              type="button">s</button>
          </strong>
          {{ t en="to" fr="pour" }}
          <span class="help__sound-enable">{{ t en="enable" fr="activer" }}</span>
          <span class="help__sound-disable">{{ t en="disable" fr="désactiver" }}</span>
          {{ t en="bleeps & sounds." fr="les sons et les bips." }}

          <span class="help__sound-enable">({{ t en="on mute" fr="en sourdine" }} 🔇 )</span>
          <span class="help__sound-disable">({{ t en="bleeps activated!" fr="sons actifs!" }} 🔊 )</span>
        </div>
      </li>
      {{/if}}
    </ul>
  </div>

  <div class="help__section help__section--policy">
    <h2 class="heading-alt">
      {{ t en="website terms" fr="politique du site" }}
    </h2>

    <ul class="help__list">
      <li class="help__item">
        <div class="help__icon">
          🌼
        </div>
        <div class="content">
          {{ t-markdown
            en="**Moderation:** As webmaster, I expect the comments left on this website to be civil. Any content that I deem offensive will be moderated."
            fr="**Modération :** En tant que de webmestre, je m'attends à ce que les commentaires laissés sur le site soient raisonnables. Tout contenu que je juge 'dérangeant' sera modéré."
          }}
        </div>
      </li>
      <li class="help__item">
        <div class="help__icon">
          💌
        </div>
        <div class="content">
          {{ t-markdown
            en="**Your data:** Don't expect your comments to be kept online forever. Think of them as scribbled notes you leave on a page. If you write something that needs to be kept online forever: write it on your blog, then link it here! It's easy!"
            fr="**Vos données :** Ne vous attendez pas à ce que les commentaires soient gardés en ligne pour toujours. Considérez-les comme des petites notes écrites laissées sur une page. Sinon, créez un lien vers ce site depuis votre site ou votre plateforme sociale préférée!"
          }}
        </div>
      </li>
      <li class="help__item">
        <div class="help__icon">
          🥠
        </div>
        <div class="content">
{{ t-markdown

en="
**Privacy:** this is how you will leave data on my website (data that I can identify as being *yours*):

- posting a comment with your real name;
- ...and *that's it!* I'm not tracking you in any way
"

fr="
**Vie privée :** voici comment vous pourriez laisser des données sur mon site (données que je pourrais associer comme étant *les vôtres*) :

- en laissant un commentaire avec votre vrai nom;
- ...et c'est tout! je ne fais aucun *tracking*
"

}}
        </div>
      </li>
    </ul>
  </div>

  <p>~~</p>
  <div class="help__section help__section--bug">
    <div class="help__item">
      <i class="help__icon">
        🐛
      </i>
      <div class="content">
        {{t en="Found a bug? <br> Help me fix it by submitting a" fr="Un problème avec le site? <br> Aidez-moi à le corriger en soumettant un" }}
        <em>
          <a
            href="https://github.com/hexanal/fredmercy-blog/issues"
            target="_blank"
            rel="noopener noreferrer"
          >{{t en="new issue on Github" fr="nouveau ticket sur Github" }}</a>
        </em>
      </div>
    </div>
  </div>
</aside>
