.nav {
  font-size: 0.9rem;
  text-align: right;
}

.nav--main {
  display: none;

  @media (min-width: $mq-small) {
    display: block;
  }
}

.nav--footer {
  display: inline;
  text-align: left;
  font-size: 0.8rem;
}
