<noscript>
<style>

.no-js {
  display: none;
}

/* No need for header buttons */
.button.header__button {
  display: none;
}

/* Removing styles from "box" component */
/* .box {
  position: static;
  display: block;
}
.box__positioner {
  position: static;
  max-width: none;
  width: auto;
  height: auto;
  max-height: none;
}
.box__frame {
  position: static;
  width: auto;
  height: auto;
}
.box__wrap {
  position: static;
  height: auto;
  box-shadow: none;
}
.box__wrap::after {
  display: none;
}
.box__close,
.box__bg {
  display: none;
}

[data-box-id="menu"] {
  display: none;
}
.button.header__menu-btn {
  display: none;
}
.nav {
  display: block !important;
} */

/* Removing comments and settings altogether as they currently only work when Javascript is enabled */
[data-box-id="help"],
[data-box-id="discuss"] {
  display: none;
}

/* Bookmarks */
.bookmarks__filters {
  display: none;
}
.bookmarks__list.content li {
  display: list-item;
}

</style>
</noscript>
