<div class="post-shortcut">
  <small class="post-shortcut__date">
    {{ meta.month }}/{{ meta.day }}
  </small>
  <a href="{{ meta.url }}">{{#if meta.title }}{{ meta.title }}{{else}}untitled post{{/if}}</a>
  <span class="dot" aria-hidden="true">✷</span>
  <small class="color-secondary">{{ meta.description }}</small>
  {{#if showViewAllLink }}
  <div class="post-shortcut__content content">
      <a href='{{ t en="/blog" fr="/fr/blogue" }}' class="button button--light">
        {{ t en="view all posts" fr="voir tous les billets" }} ->
      </a>
  </div>
  {{/if}}
</div>
