<p>~~</p>

<div class="post-nav">
  <a
    class="post-nav__link button button--light"
    href="{{ meta.parents.0.meta.url }}"
    title="back to {{ meta.parents.0.meta.title }}"
  >
    ← index
  </a>

  {{#if meta.next }}
    <a
      class="post-nav__link button"
      href="{{ meta.next.meta.url }}"
      title="{{ meta.next.meta.title }}"
    >
      ↑ {{ t.newer }}
    </a>
  {{/if}}

  {{#if meta.previous }}
    <a
      class="post-nav__link button"
      href="{{ meta.previous.meta.url }}"
      title="{{ meta.previous.meta.title }}"
    >
      ↓ {{ t.older }}
    </a>
  {{/if}}

  <a
    class="post-nav__link post-nav__discuss button"
    href="discuss"
    title="{{ t.commentsBtnTitle }}"
    id="show-comments-btn"
    data-component="emit"
    data-event="SHOW_BOX_COMMENTS"
    data-no-transition
  >discussion<span data-comments-count></span></a>
</div>
