<p>~~</p>

<div class="post-nav">
  <a
    class="post-nav__index button button--light"
    href="{{ meta.parents.0.meta.url }}"
    title="back to {{ meta.parents.0.meta.title }}"
  >
    <-
    <span class="short">
      ind.
    </span>
    <span class="long">
      index
    </span>
  </a>

  {{#if meta.next }}
  <a
    class="button"
    href="{{ meta.next.meta.url }}"
    title="{{ meta.next.meta.title }}"
  >
    ↑
    <span class="long">
      {{ t en="next" fr="suivant" }}
    </span>
    <span class="short">
      {{ t en="next" fr="suiv." }}
    </span>
  </a>
  {{/if}}

  {{#if meta.previous }}
  <a
    class="post-nav__previous button"
    href="{{ meta.previous.meta.url }}"
    title="{{ meta.previous.meta.title }}"
  >
    ↓
    <span class="long">
      {{ t en="previous" fr="précédent" }}
    </span>
    <span class="short">
      {{ t en="prev." fr="préc." }}
    </span>
  </a>
  {{/if}}

  {{#if themeFlags.USE_COMMENTS }}
  <button
    class="no-js button post-nav__discuss"
    data-component="emit"
    data-event="SHOW_BOX_DISCUSS"
  >✤ discuss<small data-comments-count></small></button>
  {{/if}}
</div>
