.rainbow {
  position: fixed;
  z-index: 20;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5rem;
}

.rainbow__wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &:nth-child(2) {
    left: 100%;
  }

  @media print {
    display: none;
  }
}

.rainbow__ray {
  --duration: 130ms;
  --stagger-delay: 25ms;
  --color-rainbow: var(--color-primary);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 20vw;
  height: 100%;
  background-color: var(--color-rainbow);

  &:nth-child(2) {
    --color-rainbow: var(--color-secondary);
    left: 20%;
  }
  &:nth-child(3) {
    --color-rainbow: var(--color-active);
    left: 40%;
  }
  &:nth-child(4) {
    --color-rainbow: var(--color-subdued);
    left: 60%;
  }
  &:nth-child(5) {
    --color-rainbow: var(--color-extra);
    left: 80%;
  }
}
