.sub-section + .sub-section { margin-top: 5rem; }

.sub-section__title {
margin-bottom: 1.5rem;
}

.sub-section__title h2 {
display: inline-block;
margin: 0;
font-size: 1em;
line-height: 1.35;
font-weight: 400;
font-style: italic;
text-align: left;
}

.sub-section__details p { margin: 0; line-height: 1.7; }

.sub-section__details p + p { margin-top: 1rem; }

.sub-section[data-type=lang] p + p { margin-top: 0; }

@media (min-width: 700px) {
.sub-section { display: flex; align-items: start; justify-content: space-between; }
.sub-section + .sub-section { margin-top: 2rem; }
.sub-section__title h2 { flex-shrink: 0; width: 30%; text-align: right; }
.sub-section__details p + p { flex-shrink: 0; width: 70%; padding-left: 2rem; }
}

@media (min-width: $mq-large) {
.sub-section__details p + p { padding-left: 5rem; }
}