{{#> layouts/default }}

<div class="index">
	<div class="index__header">
		<h1 class="index__heading">
			Archives
		</h1>

		<a href="/blog" class="index__secondary">
			Latest entries
		</a>
	</div>

	<ul class="archive__list">
	{{#each entries as |entry index|}}
		<li class="archive__list-header">
			<h2 class="archive__month-year">
				{{ index }}
			</h2>
		</li>

		{{#each entry}}
			<li class="archive__item">
				<div class="archive__meta">
					<span class="archive__date">
						{{ this.date }}
					</span>
					<span class="archive__type">
						[{{ this.type }}]
					</span>
				</div>

				<a class="archive__link" href="{{ this.url }}">
					{{#if this.title}}
						{{this.title}}
					{{else}}
						<em>Untitled</em><span class="archive__extra"> entry for <em>{{formatDate this.rawDate day="numeric" month="long" year="numeric"}}</em></span>
					{{/if}}
				</a>
			</li>
		{{/each}}
	{{/each}}
	</ul>
</div>

{{/layouts/default}}
