{{#> layouts/default }}

<div class="index">
	<div class="index_ok">
		<h1 class="index_hd">
			Archives
		</h1>

		<a href="/blog" class="index_ar">
			Current Month Entries
		</a>
	</div>

	<ul class="archive_ls">
	{{#each entries as |entry index|}}
		<li class="archive_mn">
			<h2 class="archive_mnyr">
				{{ index }}
			</h2>
		</li>

		{{#each entry}}
			<li class="archive_it">
				<div class="archive_mt">
					<span class="archive_dt">
						{{ this.date }}
					</span>
					<span class="archive_tp">
						[{{ this.type }}]
					</span>
				</div>

				<a class="archive_lk" href="{{ this.url }}">
					{{#if this.title}}
						{{this.title}}
					{{else}}
						<em>Untitled</em><span class="archive_ex"> entry for <em>{{formatDate this.rawDate day="numeric" month="long" year="numeric"}}</em></span>
					{{/if}}
				</a>
			</li>
		{{/each}}
	{{/each}}
	</ul>
</div>

{{/layouts/default}}
