{{#> layouts/default }}

<a href="/blog" class="a_bk">
	Back to index
</a>

<div>
	<h1 class="a_hd">
		Blog Archives
	</h1>
</div>

<ul class="a_ls">
{{#each entries as |entry index|}}
	<li class="a_mn">
		<h2 class="a_mnyr">
			{{ index }}
		</h2>
	</li>

	{{#each entry}}
		<li class="a_it">
			<div class="a_mt">
				<span class="a_dt">
					{{ this.date }}
				</span>
				<span class="a_tp">
					[{{ this.type }}]
				</span>
			</div>

			<a class="a_lk" href="{{ this.url }}">
				{{#if this.title}}
					{{this.title}}
				{{else}}
					<em>Untitled</em><span class="a_ex"> entry for <em>{{formatDate this.rawDate day="numeric" month="long" year="numeric"}}</em></span>
				{{/if}}
			</a>
		</li>
	{{/each}}
{{/each}}
</ul>

{{/layouts/default}}

<!--
-->