{{#> layouts/default }}

<div class="index">
	<div class="index_ok">
		<h1 class="index_hd">
			Latest entries
		</h1>

		<a href="/blog/archives" class="index_ar">
			Browse archives...
		</a>
	</div>

	<ul class="index_ls">
	{{#each entries}}
		<li class="index_it">
			<div class="index_mt">
				<span class="index_dt">
					{{ this.date }}
				</span>
				<span class="index_tp">
					[{{ this.type }}]
				</span>
			</div>

			<a class="index_lk" href="{{ this.url }}">
				{{#if this.title}}
					{{this.title}}
				{{else}}
					<em>Untitled</em><span class="index_ex"> entry for <em>{{formatDate this.rawDate day="numeric" month="long" year="numeric"}}</em></span>
				{{/if}}
			</a>
		</li>
	{{/each}}
	</ul>
</div>

{{/layouts/default}}