{{#> layouts/default }}

<div class="index">
	{{> ui/header displayJumpTo="true" }}

	<ul class="index__list">
	{{#each entries as |entry archive|}}
		<li class="index__list-header">
			<h2
				id="{{ archive }}"
				class="index__month-year"
				aria-level="2"
				data-anchor="{{ archive }}"
			>
				{{ archive }}
			</h2>
		</li>

		{{#each entry}}
			<li class="index__item">
				<div class="index__meta">
					<span class="index__date">
						{{ this.date }}
					</span>
					<span class="index__type">
						[{{ this.type }}]
					</span>
				</div>

				{{#if this.title}}
					<a
						class="index__link"
						href="{{ this.url }}"
						title="{{ this.description }}"
						data-js="entry"
					>
						{{this.title}}
					</a>
				{{else}}
					<a
						class="index__link"
						href="{{ this.url }}"
						title="{{ this.description }}"
						data-js="entry"
						aria-label='Untitled entry for {{formatDate this.rawDate day="numeric" month="long" year="numeric"}}'
					>
						<span aria-hidden="true">
							<em>Untitled</em><span class="index__extra"> entry for <em>{{formatDate this.rawDate day="numeric" month="long" year="numeric"}}</em></span>
						</span>
					</a>
				{{/if}}
			</li>
		{{/each}}
	{{/each}}
	</ul>
</div>

{{/layouts/default}}
