{{#> layouts/photofeed }}

<div class="photofeed js-photofeed">
	<a href="/blog" class="photofeed__back">
		blog
	</a>

	<div class="photofeed__container">
		<ul class="photofeed__list">
		{{#each photos as |photo index|}}
			<li class="photofeed__item js-photofeed-item">
				<a
					href="{{ photo.path }}"
					id="{{ photo.date }}"
					class="photofeed__link js-photofeed-photo"
					title="{{ photo.description }}"
				>
					<div class="photofeed__circles">
						<div class="photofeed__circle photofeed__circle--blue"></div>
						<div class="photofeed__circle photofeed__circle--magenta"></div>
						<div class="photofeed__circle photofeed__circle--yellow"></div>
					</div>

					<div class="photofeed__frame">
						<img
							class="photofeed__img"
							data-src="{{ photo.path }}"
							alt="{{ photo.title }}"
						>
					</div>
				</a>

				<div class="photofeed__description">
					{{#if photo.description}}
						<p>{{ photo.description }}</p>
					{{/if}}
					{{#if photo.title}}
						<h2 class="photofeed__title">
							{{photo.title}}
						</h2>
					{{/if}}
					<time class="photofeed__date">({{ photo.date }})</time>
				</div>

				<svg class="photofeed__squiggle">
					<use xlink:href="#squiggle">
				</svg>
			</li>
		{{/each}}
		</ul>
	</div>
</div>

{{/layouts/photofeed}}
