{{#> layouts/default }}

<div class="post">
	<div class="post__window">
		{{> entries/back }}

		<header class="post__heading">
			<div class="post__meta">
				<time class="post__date">
					{{ date }}
				</time>
				<span class="post__type">
					[{{ type }}]
				</span>
			</div>

			{{#if title}}
			<h1 class="post__title">
				{{ title }}
			</h1>
			{{/if}}
		</header>

		<div class="post__body">
			{{{ body }}}
		</div>

		{{#if edit}}
		<i class="post__edit-date">
			(last edited: {{ edit }})
		</i>
		{{/if}}
	</div>

	{{#if commentsGrid}}
	<div class="post__comments">
		{{> entries/comments}}
		{{> entries/leave-comment}}
		{{> entries/read-comment}}
	</div>
	{{/if}}
</div>


{{/layouts/default}}