{{#> layouts/default }}

<div class="index index--entry">
	{{> ui/header }}
</div>

<article class="post" data-component="collapse">
	<div
		class="post__window"
		aria-label="Entry content"
		data-component="highlight"
	>
		<header class="post__heading" role="heading">
			<div class="post__meta">
				<time class="post__date">
					{{ date }}
				</time>
				<span class="post__type">
					[{{ type }}]
				</span>
			</div>

			{{#if title}}
			<h1 class="post__title">
				{{ title }}
			</h1>
			{{/if}}
		</header>

		<div class="post__body" data-component="notes">
			{{{ body }}}
		</div>

		{{#if edit}}
		<i class="post__edit-date">
			(last edited: {{ edit }})
		</i>
		{{/if}}
	</div>

	{{#if commentsGrid}}
	<div class="post__comments state-loading" data-component="comments">
		{{> entries/comments}}
		{{> entries/leave-comment}}
		{{> entries/read-comment}}
	</div>
	{{/if}}
</article>

{{/layouts/default}}