<div
  class="box"
  data-component="box"
  data-box-id="{{ this.id }}"
  {{#if this.shortcut }}
    data-box-shortcut="{{ this.shortcut }}"
  {{/if}}
>
  <div class="box__positioner">
    <div class="box__frame" data-ui="frame">
      {{#if this.title }}
      <h2 class="box__title heading" data-ui="title">
        {{ this.title }}
      </h2>
      {{/if}}

      <button
        type="button"
        class="box__close button"
        data-control="close"
      >
        close<span aria-hidden="true"> ×</span>
      </button>

      <div class="box__wrap" data-ui="wrap">
        <div class="box__scroll">
          {{> @partial-block }}
        </div>
      </div>
    </div>

    <button
        class="box__bg"
        data-control="bg"
        type="button"
        tabindex="-1"
        data-ui="bg"
      >
    </button>
  </div>
</div>
