.breadcrumbs {
  display: flex;
  margin-top: 1rem;

  span {
    margin: 0 0.5rem;
  }

  @media print {
    display: none;
  }
}

.breadcrumbs__parent,
.breadcrumbs__root {
	font-size: 1em;
	font-weight: 400;
}
