.experience {
  + .experience {
    margin-top: 2rem;
  }

  @media (min-width: 700px) {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
}

.experience__period {
  margin-bottom: 1rem;

  h2 {
    display: inline-block;
    margin: 0;
    font-size: 1em;
    line-height: 1.35;
    font-weight: 400;
    font-style: italic;
    text-align: left;
  }

  @media (min-width: 700px) {
    flex-shrink: 0;
    width: 30%;
    text-align: right;
  }
}

.experience__details {
  margin-bottom: 5rem;

  @media (min-width: 700px) {
    flex-shrink: 0;
    width: 70%;
    margin-bottom: 0;
    padding-left: 2rem;
  }

  @media (min-width: $mq-large) {
    padding-left: 5rem;
  }
}

.experience__company {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
}

.experience__link {
  display: inline-block;
  margin-top: -0.25rem; // counter-act button's padding
  white-space: nowrap;
}

.experience__location,
.experience__extras {
  margin-top: 1rem;
  line-height: 1.5;

  @media (min-width: 700px) {
    margin-top: 1.5rem;
  }
}

.button.experience__toggle-more {
  padding: 0;
  color: var(--color-subdued);

  span[data-minus] {
    display: none;
  }

  .state-collapse-expand & {
    span[data-plus] {
      display: none;
    }
    span[data-minus] {
      display: inline;
    }
  }

  @media print {
    display: none;
  }
}

.experience__more {
  display: none;
  overflow: hidden;
  padding: 0;

  .state-collapse-expand & {
    display: block;
  }
}

.experience__more-item {
  &:before {
    content: '- ';
  }

  + .experience__more-item {
    margin-top: 0.25rem;
  }

  small {
    display: block;
    padding-left: 1rem;
    color: var(--color-secondary);
  }
}
