<header class="header">
  <div class="header__section">
    <h1 class="header__title">
      <a href="/" class="header__home-btn button">
        Fred<span> Mercy</span>
      </a>
    </h1>
  </div>

  <div class="header__section">
    {{#each meta.i18n as |url lang|}}
      <a class="button button--light header__button" href="{{ url }}">{{ lang }}</a>
    {{/each}}

    <button
      title="{{ t.commentsBtnTitle }}"
      class="button button--light header__button"
      type="button"
      data-component="emit"
      data-event="SHOW_BOX_COMMENTS"
    >
      <span id="comments-label"></span><small id="comments-count"></small>
    </button>

    <button
      title="{{ t.helpBtnTitle }}"
      class="button button--light header__button"
      type="button"
      data-component="emit"
      data-event="SHOW_BOX_HELP"
    >
      {{ t.help }}
    </button>

    <button
      title="{{ t.menuBtnTitle }}"
      class="button header__button"
      type="button"
      data-component="emit"
      data-event="SHOW_BOX_MENU"
    >
      {{ t.menu }}
    </button>
  </div>

  <button
    class="header__back-to-top button"
    data-component="to-top"
    type="button"
  >
    <span aria-hidden="true">↑</span>
    <span class="visually-hidden">{{ t.top }}</span>
  </button>
</header>
