.header {
	@media (min-width: $mq-medium) {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.header__header-extend {
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
}

.header__title {
	flex-shrink: 1;
	overflow: hidden;
	margin: 0;
  padding: 0.25rem;
	font-size: 1em;
	line-height: 1.35;
	font-weight: 400;
	font-style: normal;
	color: var(--color-bg);
  background-color: var(--color-active);
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.header__toggle-menu {
	position: relative;
	z-index: 3;
	display: inline-block;
	padding: 0.25rem;
	margin: 0 0 0 0.5rem;
	font-family: var(--font);
	font-size: 1em;
	color: var(--color-bg);
	background-color: var(--color-subdued);

	&.state-menu-active {
		.header__toggle-open {
			display: none;
		}
		.header__toggle-close {
			display: inline;
		}
	}

	@include hover-focus {
		background-color: var(--color-secondary);
		text-decoration: none;
	}
}

.header__toggle-open {
	display: inline-block;
	line-height: 1;
}

.header__toggle-close {
	display: none;
}

.header__menu-wrap {
	display: none;
	overflow: hidden;
	position: absolute;
	z-index: 3;
	top: 2.5rem;
	right: 0;
	border: 2px solid currentColor;
	background-color: var(--color-bg);
	box-shadow: 0.8em 0.8em 0 0 var(--color-primary);

	&.state-menu-active {
		display: block;
	}
}

.header__menu {
	padding: 1em;

	hr {
		margin: 1rem 0;
	}
}

.header__menu-bg {
	display: none;
	position: fixed;
	z-index: 1;
	top: -1rem;
	bottom: 0;
	left: -3rem;
	right: 0;
	width: 100vw;
	padding: 0;
	background-color: var(--color-bg);
	opacity: 0.8;

	&.state-menu-active {
		display: block;
	}
}

.header__menu-item {
	display: block;
	text-align: right;

	+ .header__menu-item {
		margin-top: 0.75em;
	}

	@media (min-width: $mq-medium) {
		text-align: left;
		margin: 0 1em 0 0;
	}
}

.header__menu-link {
	display: inline-block;
	position: relative;
	padding: 0;
	padding-right: 1.75em;
	font-family: var(--font);
	font-size: 1rem;
	color: var(--color-primary);
	background-color: transparent;
	text-decoration: underline;

	@include hover-focus {
		color: var(--color-bg);
		background-color: var(--color-secondary);
		text-decoration: none;
	}

	&:after {
		content: '';
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}

	@media (min-width: $mq-medium) {
		padding-left: 1.75em;
		padding-right: 0;

		&:after {
			left: 0;
			right: auto;
		}
	}
}
.header__menu-link--blog {
	&:after {
		content: '📓';
	}
}
.header__menu-link--bookmarks {
	&:after {
		content: '🔖';
	}
}
.header__menu-link--demos {
	&:after {
		content: '🧪';
	}
}
.header__menu-link--bandcamp {
	&:after {
		content: '';
		display: inline-block;
		width: 1.15em;
		height: 1.15em;
		background-image: url('/assets/images/bandcamp.png');
		background-size: contain;
	}
}
.header__menu-link--home {
	&:after {
		content: '🌀';
	}
}
.header__menu-link--github {
	&:after {
		content: '⌨️';
	}
}
.header__menu-link--twitter {
	&:after {
		content: '🐦';
	}
}
.header__menu-link--help {
	&:after {
		content: '🆘';
	}
}
.header__menu-link--up {
	&:after {
		content: '☝️';
	}
}

.header__menu-item--up {
	display: none;

	[data-scrolled-past-viewport="true"] & {
		display: block;
	}
}

.header__menu-link--sounds {
	&:after {
		content: '🔇';
	}
	&.state-sounds-enabled {
		&:after {
			content: '🔈';
		}
	}
}
