<header class="header">
  <div class="header__section">
    <h1 class="header__title">
      <a href="/" class="header__home-btn button">
        Fred<span> Mercy</span>
      </a>
    </h1>
  </div>

  <div class="header__section">
    <button
      title="Read and participate to the discussion about this page!"
      class="button button--light header__button"
      type="button"
      aria-label="Toggle comments"
      data-component="emit"
      data-event="SHOW_BOX_COMMENTS"
    >
      <span id="comments-label"></span><small id="comments-count"></small>
    </button>

    <button
      title="Show the “help & options” panel"
      class="button button--light header__button"
      type="button"
      aria-label="Toggle help"
      data-component="emit"
      data-event="SHOW_BOX_HELP"
    >
      help
    </button>

    <button
      title="Show the main navigation menu"
      class="button header__button"
      type="button"
      aria-label="Toggle navigation menu"
      data-component="emit"
      data-event="SHOW_BOX_MENU"
    >
      menu
    </button>
  </div>

  <button
    class="header__back-to-top button"
    data-component="to-top"
    type="button"
  >
    <span aria-hidden="true">↑</span>
    <span class="visually-hidden">top</span>
  </button>
</header>
