<header
	class="header"
	data-component="nav"
>
	<nav class="header__header-extend">
		<h1 class="header__title">
			{{ meta.title }}
		</h1>

		<button
			class="header__toggle-menu"
			type="button"
			aria-label="Toggle navigation menu"
			data-control="toggle-menu"
		>
			<div class="header__toggle-open">open menu</div>
			<span class="header__toggle-close">close<span aria-hidden="true"> ×</span></span>
		</button>

		<div class="header__menu-wrap" data-ui="menu">
			<div class="header__menu" role="navigation">
				{{#each ui.mainNav }}
					{{#if this.href }}
						<div class="header__menu-item">
							<a
								class="header__menu-link header__menu-link--{{ this.id }}"
								href="{{ this.href }}"
								{{#each this.attr }}
									{{#each this }}
										{{@key}}="{{this}}"
									{{/each}}
								{{/each}}
							>
								{{ this.label }}
							</a>
						</div>
					{{else}}
						<hr>
					{{/if}}
				{{/each}}

				<hr>

				<div class="header__menu-item">
					<button
						class="header__menu-link header__menu-link--help"
						data-control="help-toggle"
						type="button"
					>
						help / options
					</button>
				</div>
				<div class="header__menu-item header__menu-item--up">
					<button
						class="header__menu-link header__menu-link--up"
						data-control="to-top"
						type="button"
					>
						top of page
					</button>
				</div>
			</div>
		</div>
		<button
			class="header__menu-bg"
			data-control="menu-bg"
			type="button"
			aria-label="Close navigation menu"
		></button>
	</nav>
</header>
