{{#> ui/box id="help" title="help / options" shortcut="?" }}

  <aside class="help" data-component="help">
    <div class="help__section">
      <h2 class="heading-alt">
        Settings
      </h2>

      <ul class="help__list">
        {{#if SETTINGS.USE_THEMES }}
        <li class="help__item">
          <div class="help__icon">
            🎨
          </div>
          <div>
            <strong class="help__emphasis">
              Theme
            </strong>
            <select
              class="help__select"
              data-component="themes"
            >
            {{#each themes }}
              <option value="{{ this.id }}">{{ this.label }}</option>
            {{/each}}
          </select>
          </div>
        </li>
        {{/if}}

        {{#if SETTINGS.USE_BLEEPS }}
        <li
          class="help__item help__item--bleeps"
          data-component="bleeps"
        >
          <div class="help__icon">
            🎵
          </div>
          <div>
            <strong class="help__emphasis">
              Use
              <button
                class="hotkey help__key"
                data-control="enable-sounds"
                type="button">s</button>
            </strong>
            to
            <span class="help__sound-enable">enable</span>
            <span class="help__sound-disable">disable</span>
            bleeps & sounds.
          </div>
        </li>
        {{/if}}

        <li class="help__item">
          <div class="help__icon">
            🔠
          </div>
          <div>
            <strong class="help__emphasis">
              Use
              <button class="hotkey help__key" data-control="help-big-font" type="button">+</button>
              and
              <button class="hotkey help__key" data-control="help-normal-font" type="button">-</button>
            </strong>
            to increase and decrease the size of the text.
          </div>
        </li>
        <li class="help__item">
          <div class="help__icon">
            Ⓜ️
          </div>
          <div>
            <strong class="help__emphasis">
              Use
              <button class="hotkey help__key" data-component="emit" data-event="TOGGLE_BOX_MENU" type="button">m</button>
            </strong>
            to toggle the main menu.
          </div>
        </li>
        <li class="help__item">
          <div class="help__icon">
            ⚙️
          </div>
          <div>
            <strong class="help__emphasis">
              Use
              <button class="hotkey help__key" data-component="emit" data-event="CLOSE_BOX_HELP" type="button">?</button>
            </strong>
            to toggle this popup.
          </div>
        </li>
      </ul>
    </div>

    <hr class="help__separator">

    <div class="help__section help__section--policy">
      <h2 class="heading-alt">
        Website policy
      </h2>

      <ul class="help__list">
        <li class="help__item">
          <div class="help__icon">
            🌼
          </div>
          <div>
            As webmaster, I expect the comments left on this website to be civil. Any content that I deem offensive will be moderated.
          </div>
        </li>
        <li class="help__item">
          <div class="help__icon">
            💌
          </div>
          <div>
            Don't expect your comments to be kept online forever. Think of them as scribbled notes you leave on a page. If you write something that needs to be kept online forever: write it on your blog, then link it here! It's easy!
          </div>
        </li>
      </ul>
    </div>

    <hr class="help__separator">

    <div class="help__section help__section--privacy">
      <h2 class="heading-alt">
        Privacy
      </h2>

      <ul class="help__list">
        <li class="help__item">
          <div class="help__icon">
            🥠
          </div>
          <div>
            This is how you will leave data on my website (data that I can identify as being *yours*):
            <ul>
              <li>posting a comment with your real name;</li>
              <li><i>that's it!</i> I'm not tracking you in any way</p>
            </ul>
          </div>
        </li>
      </ul>
    </div>


    <hr class="help__separator">

    <div class="help__section help__section--bug">
      <div class="help__item">
        <i class="help__icon">
          🐛
        </i>
        <div>
          Found a bug?
          <em>
            <a
              href="https://github.com/hexanal/fredmercy-blog/issues"
              target="_blank"
              rel="noopener noreferrer"
            >Open a new issue on Github</a>.
          </em>
        </div>
      </div>
    </div>
</aside>

{{/ui/box }}
