<div class="post-nav">
  <a
    class="post-nav__link post-nav__link--index"
    href="{{ meta.parents.0.meta.url }}"
    title="back to {{ meta.parents.0.meta.title }}"
  >
    ← index
  </a>

  {{#if meta.previous }}
    <a
      class="post-nav__link"
      href="{{ meta.previous.meta.url }}"
      title="{{ meta.previous.meta.title }}"
    >
      ↓ older
    </a>
  {{/if}}

  {{#if meta.next }}
    <a
      class="post-nav__link"
      href="{{ meta.next.meta.url }}"
      title="{{ meta.next.meta.title }}"
    >
      ↑ newer
    </a>
  {{/if}}
</div>
