.post-nav {
  display: flex;
	margin: 2rem 0;
}

.post-nav__link {
  padding: 0.25rem 0.75rem;
  font-style: normal;
  text-decoration: none;
  color: var(--color-bg);
  background-color: var(--color-subdued);

  + .post-nav__link {
    margin-left: 1rem;
  }

	@include hover-focus {
    color: var(--color-bg);
    text-decoration: none;
    background-color: var(--color-secondary);
  }

  @media (min-width: $mq-xsmall) {
    padding: 0.25rem;
  }
}
.post-nav__link--index {
  color: var(--color-primary);
  font-style: italic;
  background-color: transparent;

	@include hover-focus {
    color: var(--color-bg);
  }
}
